{% extends "auctions/account/profile_layout.html" %}

{% block content %}
				
				{% if not user.profile_completed %}
				<div class="container m-2 bg-warning">
					<p>Your profile information is incomplete!</p>
					<p>You will not be able to buy or sell products on Auction$ till 
					all required information is not provided.</p>
					<a href="{% url 'auctions:user_profile' user.pk %}">
						Complete profile now.
					</a>
				</div>
				{% else %}
				<div class="container">
					<ul class="nav nav-tabs nav-justified">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#active">
								Active listings
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#won">
								Won listings
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#lost">
								Lost listings
							</a>
						</li>
						</ul>
					<div class="tab-content">
						<div class="tab-pane active mt-2" id="active">
							<div class="d-flex nowrap w-100" id="tab-header">
								<h3 class="flex-grow-1">Active listings you have bidded on:</h3>
								<button class="btn btn-primary" id="create-listing-btn">
									Show stats
								</button>
								</div>
												<div class="d-flew nowrap w-100 header-row">
								<div class="w-10 header-item">
									Product's image
								</div>
								<div class="w-25 header-item">
									Name
								</div>
								<div class="w-15 header-item">
								    Categories
								</div>
								<div class "w-10 header-item">
									Highest bid
								</div>
								<div class="w-10 header-item">
									Bids count
								</div>
								<div class="w-10 header-item">
									Time left
								</div>
								<div class="w-10 header-item">
									Your latest bid
								</div>
								<div class="w-10 header-item">
									Action
								</div>				
							</div>
							{% for item in user_bidded_listings|dictsort:"end_time" %}
								{% if item.listing.status == "active" %}
								<div class="listing d-flex nowrap w-100">
									<div class="w-10">
										<img src="{{ item.listing.product.image_set.0.img_url }}">
									</div>
									<div class="w-25">
										{{ item.listing.product.name|capfirst }}
									</div>
										<div class="w-15">
										{% for category in item.listing.product.categories %}
											{{ category.name }}
										{% endfor %}
									</div>
									<div class="w-10">
										{{ item.listing.max_bid }}
										</div>
										<div class="w-10">
										{{ item.listing.bids.count }}
									</div>
									<div class="w-10">
										{{ item.listing.end_time|timeuntil:now }}
									</div>
								<div class="w-10">
										{{ item.latest_bid }}
									</div>
								<div>
								="w-10">
										<button class="btn btn-primary" id="bid">Bid again</button>
									</div>
								</div>
								{% endif %}
							{% empty %}
								<p>You did not bid on any listing yet. </p>
							{% endfor %}
						</div>
						<div class="tab-pane mt-2" id="won">
							<div class="d-flex nowrap w-100" id="tab-header">
								<h3 class="flex-grow-1">Products you have purchased:</h3>
								<button class="btn btn-primary" id="create-listing-btn">
									Show stats
								</button>
							</div>
							<div class="d-flew nowrap w-100 header-row">
								<div class="w-20 header-item">
									Product's image
								</div>
								<div class="w-30 header-item">
									Name
								</div>
								<div class="w-20 header-item">
								    Categories
								</div>
								<div class "w-15 header-item">
									Highest bid
								</div>
								<div class="w-15 header-item">
									Bids count
								</div>
							</div>
                            {% for item in user_bidded_listings|dictsort:"end_time" %}
                            {% if item.winner == user %}
								<div class="listing d-flex nowrap w-100">
									<div class="w-20">
										<img src="{{ item.listing.product.image_set.0.img_url }}">
									</div>
									<div class="w-30">
										{{ item.listing.product.name|capfirst }}
									</div>
									<div class="w-20">
										{{ item.listing.product.categories }}
									</div>
									<div class="w-15">
										{% if item.cancelled_on %}{{ item.cancelled_on }}{% else %}{{ item.end_time}}{% endif %}
										</div>
										<div class="w-15">
										{{ item.listing.max_bid }}
									</div>
								</div>
								{% endif %}
							{% empty %}
								<p>You did not buy any items yet.</p>
							{% endfor %}
						</div>
						<div class="tab-pane mt-2" id="unsold">
							<div class="d-flex nowrap w-100" id="tab-header">
								<h3 class="flex-grow-1">Items that was not sold:</h3>
								<button class="btn btn-primary" id="create-listing-btn">
									Show stats
								</button>
							</div>
                            {% for item in user_bidded_listings|dictsort:"end_time" %}
								{% if item.status == "ended" or item.status == "cancelled" and item.winner != user %}
								<div class="listing d-flex nowrap w-100">
									<div class="w-25">
										<img src="{{ item.product.image_set.0.img_url }}">
									</div>
									<div class="w-25">
										{{ item.product.name|capfirst }}
									</div>
									<div class="w-25">
										<p>Ended on: {% if item.cancelled_on %}{{ item.cancelled_on }}{% else %}{{ item.end_time}}{% endif %}</p>
										<p>Num.of followers: {{ item.followers.count }}</p>
									</div>
									<div class="w-25">
										<button class="btn btn-secondary" id="relist">Relist</button>
									</div>
								</div>
								{% endif %}
							{% empty %}
								<p>You do not have any ended or cancelled listings remained unsold. <a href="{% url 'auctions:create_listing' %}">Click here</a> to create new listing.</p>
							{% endfor %}
						</div>
						<div class="tab-pane mt-2" id="products">
							<div class="d-flex nowrap w-100" id="tab-header">
								<h3 class="flex-grow-1">Manage products you offer:</h3>
								<button class="btn btn-primary" id="create-listing-btn">
									Add product
								</button>
							</div>
                            {% for product in products_list|dictsort:"created_on" %}
								<div class="product d-flex nowrap w-100">
									<div class="w-25">
										<img src="{{ product.image_set.0.img_url }}">
									</div>
									<div class="w-25">
										<p>{{ product.name|capfirst }}</p>
                                        <p>Category: {{ product.category }}</p>
									</div>
									<div class="w-25">
										<p>Listed in: {{ product.listings }}</p>
									</div>
									<div class="w-25">
										<button class="btn btn-secondary" id="sell">Relist</button>
									</div>
								</div>
							{% empty %}
								<p>You did not add any product yet. <a href="">Click here</a> to add one.</p>
							{% endfor %}
						</div>
					</div>
				</div>
				{% endif %}
	
{% endblock %}
