{% extends "auctions/account/profile_layout.html" %}

{% block content %}
				
				{% if not user.profile_completed %}
				<div class="container m-2 bg-warning">
					<p>Your profile information is incomplete!</p>
					<p>You will not be able to buy or sell products on Auction$ till 
					all required information is not provided.</p>
					<a href="{% url 'auctions:user_profile' user.pk %}">
						Complete profile now.
					</a>
				</div>
				{% else %}
				<div class="container">
					<ul class="nav nav-tabs nav-justified">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#active">
								Active listings
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#won">
								Won listings
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#lost">
								Lost listings
							</a>
						</li>
						</ul>
					<div class="tab-content">
						<div class="tab-pane active mt-2" id="active">
							<div class="d-flex nowrap w-100" id="tab-header">
								<h3 class="flex-grow-1">Active listings you have bidded on:</h3>
								<!--<button class="btn btn-primary" id="bidded-stats-btn">
									Show stats
								</button>-->
                            </div>
                            <div class="row header-row mt-2 ml-1">
                                <div class="col-md-1 text-center">
                                    Image
                                </div>
                                <div class="col-md-2 text-center">
                                    Title
                                </div>
                                <div class="col-md-2 text-center">
                                    Categories
                                </div>
                                <div class="col-md-1 text-center">
                                    Top bid
                                </div>
                                <div class="col-md-1 text-center">
                                    Your bid
                                </div>
                                <div class="col-md-2 text-center">
                                    Time left
                                </div>
                                <div class="col-md-3 text-center">
                                    Action
                                </div>				
                            </div>
                            <div>
							{% for item in active|dictsort:"listing.end_time"|slice:"10" %}
								<div class="listing row mt-1 ml-1 bg-light">	
								<a class="col-md-1" href="{% url 'auctions:listing' item.listing.pk %}">
									<div class="w-100 text-center">
										<img src="{{ item.listing.product.image_set.first.image_url }}" height="50px" width="50px">
									</div>
								</a>
								<a  class="col-md-2" href="{% url 'auctions:listing' item.listing.pk %}">
									<div class="w-100 text-center">
										{{ item.listing.product.name|capfirst }}
									</div>
								</a>
								<a  class="col-md-2" href="{% url 'auctions:listing' item.listing.pk %}">
                                    <div class="w-100 text-center">
										{% for category in item.listing.product.categories.all %}
											<p>{{ category.name }}</p>
										{% endfor %}
									</div>
								</a>
								<a  class="col-md-1" href="{% url 'auctions:listing' item.listing.pk %}">
									<div class="w-100 text-center">
										{{ item.listing.max_bid }}
									</div>
								</a>
								<a  class="col-md-1" href="{% url 'auctions:listing' item.listing.pk %}">
                                    <div class="w-100 text-center">
										{{ item.value }}
									</div>
								</a>
								<a  class="col-md-2" href="{% url 'auctions:listing' item.listing.pk %}">
									<div class="w-100 text-center">
										{{ item.listing.end_time|timeuntil }}
									</div>
								</a>
                                    <!--<div class="col-md-2 text-center">
										<button class="btn btn-primary" id="bid">Bid again</button>
									</div>-->
									<div class="col-md-3 d-flex nowrap">
										<div>
											<input class="form-control" type="number" name="bid" value="{{ item.listing.max_bid|add:'1' }}">
										</div>
										<div>
											<button class="btn btn-success place-bid" id="bid-{{ item.listing.id }}">Bid</button>
										</div>
									</div>
								</div>
							{% empty %}
								<p class="mt-1 bg-light">There are no any active listing you bidded on.</p>
							{% endfor %}
							</div>
							{% if active.10 %}
							<div class="collapse" id="active">
							{% for item in active|dictsort:"listing.end_time"|slice:"10:" %}
								<div class="listing row mt-1 ml-1 bg-light">	
									<a class="col-md-1" href="{% url 'auctions:listing' item.listing.pk %}">
										<div class="w-100 text-center">
											<img src="{{ item.listing.product.image_set.first.image_url }}" height="50px" width="50px">
										</div>
									</a>
									<a  class="col-md-2" href="{% url 'auctions:listing' item.listing.pk %}">
										<div class="w-100 text-center">
											{{ item.listing.product.name|capfirst }}
										</div>
									</a>
									<a  class="col-md-2" href="{% url 'auctions:listing' item.listing.pk %}">
										<div class="w-100 text-center">
											{% for category in item.listing.product.categories.all %}
												<p>{{ category.name }}</p>
											{% endfor %}
										</div>
									</a>
									<a  class="col-md-1" href="{% url 'auctions:listing' item.listing.pk %}">
										<div class="w-100 text-center">
											{{ item.listing.max_bid }}
										</div>
									</a>
									<a  class="col-md-1" href="{% url 'auctions:listing' item.listing.pk %}">
										<div class="w-100 text-center">
											{{ item.value }}
										</div>
									</a>
									<a  class="col-md-2" href="{% url 'auctions:listing' item.listing.pk %}">
										<div class="w-100 text-center">
											{{ item.listing.end_time|timeuntil }}
										</div>
									</a>
                                    <!--<div class="col-md-2 text-center">
										<button class="btn btn-primary" id="bid">Bid again</button>
									</div>-->
									<div class="col-md-3 d-flex nowrap">
										<div>
											<input class="form-control" type="number" name="bid" value="{{ item.listing.max_bid|add:'1' }}">
										</div>
										<div>
											<button class="btn btn-success place-bid" id="bid-{{ item.listing.id }}">Bid</button>
										</div>
									</div>
								</div>
							{% endfor %}
							</div>
							<p data-toggle="collapse" data-target="#active" class="w-100 mt-2 btn btn-primary text-toggle">More</p>
							{% endif %}
						</div>
						<div class="tab-pane mt-2" id="won">
							<div class="d-flex nowrap w-100" id="tab-header">
								<h3 class="flex-grow-1">Products you have purchased:</h3>
								<!--<button class="btn btn-primary" id="won-stats-btn">
									Show stats
								</button>-->
							</div>
							<div class="row header-row mt-1 ml-1">
								<div class="col-md-1 text-center">
									Image
								</div>
								<div class="col-md-3 text-center">
									Name
								</div>
								<div class="col-md-2 text-center">
								    Categories
								</div>
								<div class="col-md-1 text-center">
									Your bid
								</div>
								<div class="col-md-2 text-center">
									Seller
								</div>
								<div class="col-md-1 text-center">
									Pay
								</div>
								<div class="col-md-2 text-center">
									Status
								</div>
							</div>
							<div>
                            {% for item in bought|dictsort:"listing.end_time"|slice:"10" %}
								<div class="listing row mt-1 ml-1 bg-light">
									<div class="col-1">
										<a class="text-center" href="{% url 'auctions:listing' item.listing.pk %}">
											<img src="{{ item.listing.product.image_set.first.image_url }}" height="50px" width="50px">
										</a>
									</div>
									<div class="col-3">
										<a class="text-center" href="{% url 'auctions:listing' item.listing.pk %}">
											{{ item.listing.product.name|capfirst }}
										</a>
									</div>
									<div class="col-2">
										<a class="text-center" href="{% url 'auctions:listing' item.listing.pk %}">
										{% for category in item.listing.product.categories.all %}
											<p>{{ category.name }}</p>
										{% endfor %}
										</a>
									</div>
									<div class="col-1">
										<a class="text-center" href="{% url 'auctions:listing' item.listing.pk %}">
											{{ item.value }}
										</a>	
									</div>
                                    <div class="col-2">
										<a class="text-center" href="{% url 'auctions:listing' item.listing.pk %}">
											{{ item.listing.product.seller.username }}
										</a>
									</div>
                                    <div class="col-1">
										<button class="btn btn-primary mark-paid" id="pay-{{ user.pk }}-{{ item.listing.pk }}" {% if item.listing.paid %}disabled{%endif%}>Pay</button>
									</div>
                                    <div class="col-2 text-center">
										{% if item.listing.paid %}Paid{% else %}Not paid{% endif %}
									</div>
								</div>
							{% empty %}
								<p class="mt-1 bg-light">You did not win any auction yet.</p>
							{% endfor %}
							</div>
							{% if bought.10 %}
							<div class="collapse" id="bought">
                            {% for item in bought|dictsort:"listing.end_time"|slice:"10:" %}
								<div class="listing row mt-1 ml-1 bg-light">
									<div class="col-1">
										<a class="text-center" href="{% url 'auctions:listing' item.listing.pk %}">
											<img src="{{ item.listing.product.image_set.first.image_url }}" height="50px" width="50px">
										</a>
									</div>
									<div class="col-3">
										<a class="text-center" href="{% url 'auctions:listing' item.listing.pk %}">
											{{ item.listing.product.name|capfirst }}
										</a>
									</div>
									<div class="col-2">
										<a class="text-center" href="{% url 'auctions:listing' item.listing.pk %}">
										{% for category in item.listing.product.categories.all %}
											<p>{{ category.name }}</p>
										{% endfor %}
										</a>
									</div>
									<div class="col-1">
										<a class="text-center" href="{% url 'auctions:listing' item.listing.pk %}">
											{{ item.value }}
										</a>	
									</div>
                                    <div class="col-2">
										<a class="text-center" href="{% url 'auctions:listing' item.listing.pk %}">
											{{ item.listing.product.seller.username }}
										</a>
									</div>
                                    <div class="col-1">
										<button class="btn btn-primary mark-paid" id="pay-{{ user.pk }}-{{ item.listing.pk }}" {% if item.listing.paid %}disabled{%endif%}>Pay</button>
									</div>
                                    <div class="col-2 text-center">
										{% if item.listing.paid %}Paid{% else %}Not paid{% endif %}
									</div>
								</div>
							{% endfor %}
							</div>
							
							<p data-toggle="collapse" data-target="#bought" class="w-100 mt-2 btn btn-primary text-toggle">More</p>
							{% endif %}
						</div>
						<div class="tab-pane mt-2" id="lost">
							<div class="d-flex nowrap w-100" id="tab-header">
								<h3 class="flex-grow-1">Auctions you did not succeed in:</h3>
								<!--<button class="btn btn-primary" id="lost-stats-btn">
									Show stats
								</button>-->
							</div>
							<div class="row mt-1 header-row">
								<div class="col-md-1 text-center">
									Image
								</div>
								<div class="col-md-3 text-center">
									Title
								</div>
								<div class="col-md-2 text-center">
								    Categories
								</div>
								<div class="col-md-2 text-center">
									Bids count
								</div>
								<div class="col-md-1 text-center">
									Your bid
								</div>
								<div class="col-md-1 text-center">
									Top bid
								</div>
								<div class="col-md-2 text-center">
									Ended on
								</div>
							</div>
							<div>
                            {% for item in lost|dictsort:"listing.end_time"|slice:"10" %}
                            <a href="{% url 'auctions:listing' item.listing.pk %}">
								<div class="listing row mt-1 ml-1 bg-light">
									<div class="col-md-1 text-center align-self-center">
										<img src="{{ item.listing.product.image_set.first.image_url }}" height="50px" width="50px">
									</div>
									<div class="col-md-3 text-center align-self-center">
										{{ item.listing.product.name|capfirst }}
									</div>
									<div class="col-md-2 text-center align-self-center">
										{% for category in item.listing.product.categories.all %}
											<p>{{ category.name }}</p>
										{% endfor %}
									</div>
									<div class="col-md-2 text-center align-self-center">
										{{ item.listing.bids.count }}
									</div>
									<div class="col-md-1 text-center align-self-center">
										{{ item.value }}
									</div>
									<div class="col-md-1 text-center align-self-center">
										{{ item.listing.max_bid }}
									</div>
									<div class="col-md-2 text-center align-self-center">
										{% if item.listing.cancelled_on %}
											{{ item.listing.cancelled_on }}
										{% else %}
											{{ item.listing.end_time }}
										{% endif %}
									</div>
								</div>
							</a>
							{% empty %}
								<p class="mt-1 bg-light">You do not have any listing you bidded on but lost.</p>
							{% endfor %}
							</div>
							{% if lost.10 %}
							<div class="collapse" id="lost">
                            {% for item in lost|dictsort:"listing.end_time"|slice:"10:" %}
                            <a href="{% url 'auctions:listing' item.listing.pk %}">
								<div class="listing row mt-1 ml-1 bg-light">
									<div class="col-md-1 text-center align-self-center">
										<img src="{{ item.listing.product.image_set.first.image_url }}" height="50px" width="50px">
									</div>
									<div class="col-md-3 text-center align-self-center">
										{{ item.listing.product.name|capfirst }}
									</div>
									<div class="col-md-2 text-center align-self-center">
										{% for category in item.listing.product.categories.all %}
											<p>{{ category.name }}</p>
										{% endfor %}
									</div>
									<div class="col-md-2 text-center align-self-center">
										{{ item.listing.bids.count }}
									</div>
									<div class="col-md-1 text-center align-self-center">
										{{ item.value }}
									</div>
									<div class="col-md-1 text-center align-self-center">
										{{ item.listing.max_bid }}
									</div>
									<div class="col-md-2 text-center align-self-center">
										{% if item.listing.cancelled_on %}
											{{ item.listing.cancelled_on }}
										{% else %}
											{{ item.listing.end_time }}
										{% endif %}
									</div>
								</div>
							</a>
							{% endfor %}
							</div>
						<p data-toggle="collapse" data-target="#lost" class="w-100 mt-2 btn btn-primary text-toggle">More</p>
							{% endif %}
						</div>
					</div>
				</div>
				{% endif %}
	
{% endblock %}
