{% extends "auctions/account/profile_layout.html" %}

{% block content %}
				
				{% if not user.profile_completed %}
				<div class="container m-2 bg-warning">
					<p>Your profile information is incomplete!</p>
					<p>You will not be able to buy or sell products on Auction$ till 
					all required information is not provided.</p>
					<a href="{% url 'auctions:user_profile' user.pk %}">
						Complete profile now.
					</a>
				</div>
				{% else %}
				<div class="container">
					<ul class="nav nav-tabs nav-justified">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#active">
								Active listings
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#won">
								Won listings
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#lost">
								Lost listings
							</a>
						</li>
						</ul>
					<div class="tab-content">
						<div class="tab-pane active mt-2" id="active">
							<div class="d-flex nowrap w-100" id="tab-header">
								<h3 class="flex-grow-1">Active listings you have bidded on:</h3>
								<button class="btn btn-primary" id="bidded-stats-btn">
									Show stats
								</button>
                            </div>
                            <div class="row header-row mt-1 ml-1">
                                <div class="col-md-1 text-center">
                                    Image
                                </div>
                                <div class="col-md-2 text-center">
                                    Title
                                </div>
                                <div class="col-md-2 text-center">
                                    Categories
                                </div>
                                <div class="w-10 p-1 header-item">
                                    Highest bid
                                </div>
                                <div class="w-10 p-1 header-item">
                                    Bids count
                                </div>
                                <div class="w-10 p-1 header-item">
                                    Time left
                                </div>
                                <div class="w-10 p-1 header-item">
                                    Your bid
                                </div>
                                <div class="w-10 p-1 header-item">
                                    Action
                                </div>				
                            </div>
							{% for item in user_bidded_listings|dictsort:"end_time" %}
								{% if item.listing.status == "active" %}
								<div class="listing d-flex nowrap w-100">
									<div class="w-10 p-1">
										<img src="{{ item.listing.product.image_set.0.img_url }}">
									</div>
									<div class="w-25 p-1">
										{{ item.listing.product.name|capfirst }}
									</div>
                                    <div class="w-15 p-1">
										{% for category in item.listing.product.categories %}
											{{ category.name }}
										{% endfor %}
									</div>
									<div class="w-10 p-1">
										{{ item.listing.max_bid }}
										</div>
										<div class="w-10 p-1">
										{{ item.listing.bids.count }}
									</div>
									<div class="w-10 p-1">
										{{ item.listing.end_time|timeuntil:now }}
									</div>
                                    <div class="w-10 p-1">
										{{ item.latest_bid }}
									</div>
                                    <div class="w-10 p-1">
										<button class="btn btn-primary" id="bid">Bid again</button>
									</div>
								</div>
                                {% else %}
                                    <p>There are no any active listing you bidded on.</p>
								{% endif %}
							{% empty %}
								<p>You did not bid on any listing yet.</p>
							{% endfor %}
						</div>
						<div class="tab-pane mt-2" id="won">
							<div class="d-flex nowrap w-100" id="tab-header">
								<h3 class="flex-grow-1">Products you have purchased:</h3>
								<button class="btn btn-primary" id="won-stats-btn">
									Show stats
								</button>
							</div>
							<div class="d-flex nowrap w-100 header-row">
								<div class="w-20 p-1 header-item">
									Image
								</div>
								<div class="w-30 p-1 header-item">
									Name
								</div>
								<div class="w-20 p-1 header-item">
								    Categories
								</div>
								<div class="w-15 p-1 header-item">
									Highest bid
								</div>
								<div class="w-15 p-1 header-item">
									Bids count
								</div>
							</div>
                            {% for item in user_bidded_listings|dictsort:"end_time" %}
                            {% if item.listing.winner == user %}
								<div class="listing d-flex nowrap w-100">
									<div class="w-20 p-1">
										<img src="{{ item.listing.product.image_set.0.img_url }}">
									</div>
									<div class="w-30 p-1">
										{{ item.listing.product.name|capfirst }}
									</div>
									<div class="w-20 p-1">
										{% for category in item.listing.product.categories %}
											{{ category.name }}
										{% endfor %}
									</div>
									<div class="w-15 p-1">
										{% if item.listing.cancelled_on %}{{ item.listing.cancelled_on }}{% else %}{{ itemlisting..end_time}}{% endif %}
										</div>
                                    <div class="w-15 p-1">
										{{ item.listing.max_bid }}
									</div>
								</div>
                                {% else %}
                                    <p>You did not buy any items yet.</p>
								{% endif %}
							{% empty %}
								<p>You did not bid on any listing yet.</p>
							{% endfor %}
						</div>
						<div class="tab-pane mt-2" id="unsold">
							<div class="d-flex nowrap w-100" id="tab-header">
								<h3 class="flex-grow-1">Items that was not sold:</h3>
								<button class="btn btn-primary" id="lost-stats-btn">
									Show stats
								</button>
							</div>
							<div class="d-flex nowrap w-100 header-row">
								<div class="w-15 p-1 header-item">
									Image
								</div>
								<div class="w-30 p-1 header-item">
									Name
								</div>
								<div class="w-20 p-1 header-item">
								    Categories
								</div>
								<div class="w-15 p-1 header-item">
									Followers
								</div>
								<div class="w-10 p-1 header-item">
									Ended on
								</div>
								<div class="w-10 p-1 header-item">
									Action
								</div>
							</div>
                            {% for item in user_bidded_listings|dictsort:"end_time" %}
								{% if item.listing.status == "ended" or item.listing.status == "cancelled" and item.listing.winner != user %}
								<div class="listing d-flex nowrap w-100">
									<div class="w-15 p-1">
										<img src="{{ item.listing.product.image_set.0.img_url }}">
									</div>
									<div class="w-30 p-1">
										{{ item.listing.product.name|capfirst }}
									</div>
									<div class="w-20 p-1">
										{% for category in item.listing.product.categories %}
											{{ category.name }}
										{% endfor %}
									</div>
									<div class="w-15 p-1">
										{{ item.listing.followers.count }}
									</div>
									<div class="w-10 p-1">
										{% if item.listing.cancelled_on %}{{ item.listing.cancelled_on }}{% else %}{{ item.listing.end_time}}{% endif %}
									</div>
									<div class="w-10 p-1">
										<button class="btn btn-secondary" id="relist">Find similar</button>
									</div>
								</div>
                                {% else %}
                                    <p>You do not have any listing you bidded on but lost.</p>
								{% endif %}
							{% empty %}
								<p>You did not bid on any listing yet.</p>
							{% endfor %}
						</div>
					</div>
				</div>
				{% endif %}
	
{% endblock %}
