{% extends "auctions/account/profile_layout.html" %}

{% block content %}
				
				<div class="container">
					<h3 class="">New listing.</h3>
					<p>Please fill the form below to list your product for sale on Auction$.</p> 
					<div class="container mt-5 mb-2">
						{{ form.non_field_errors }}
						<form action="{% url 'auctions:create_listing' user.id %}" method="post">
							{% csrf_token %}
							<div class="create-listing-form mb-2 container border border-primary border-top-0 border-right-0 border-left-0">
							    {% if from_product %}
							    <!-- Display only information of the product to be listed -->
							    <div class="products-list row">
					<div class="col-md-6">Product:</div>
					<div class="col-md-6" style="visibility:hidden;">{{ form.product }}</div>
				</div>
				<a href="{% url 'auctions:update_product' user.pk from_product.pk %}">
					<div class="row product bg-light">
						<div class="col-md-2 text-center align-self-center">
							<img src="{{ from_product.image_set.first.image_url }}" height="50px" width="50px">
						</div>
						<div class="col-md-4 text-center">
							<p>Title:</p>
							<P>{{ from_product.name|capfirst }}</p>
						</div>
						<div class="col-md-3 text-center">
							<p>Categories:</p>
							{% for category in from_product.categories.all %}
								<p>{{ category.name }}</p>
							{% endfor %}
						</div>
						<div class="col-md-3 text-center">
							<p>Listed before:</p> 
							</p>{% if from_product.listings.first %}Yes{% else %}No{% endif %}</p>
						</div>
					</div>
				</a>
				{% else %}
				<!-- Normal listing create from scratch flow -->
								<div class="row mb-1">
									<div class="col-md-5 font-weight-bold">
										Create new product
										<div class="btn btn-secondary" id="create-product">
											Create
										</div>
									</div>
								</div>
								<div class="products-list row ml-1 mt-1 select-text font-weight-bold">or select one from the list below</div>
								<!-- part of the form to create new product -->
								<input type="hidden" name="seller" value="{{ user.id }}">
								<div class="new-product row"><div class="col-md-12">{{ product_form.non_field_errors }}</div></div>
								<div class="new-product row"><div class="col-md-12">{{ product_form.name.errors }}</div></div>
								<div class="new-product row">
									<div class="col-md-5">{{ product_form.name.label_tag }}</div>
									<div class="col-md-7">{{ product_form.name }}</div>
								</div>
								<div class="new-product row"><div class="col-md-12">{{ product_form.categories.errors }}</div></div>
								<div class="new-product mb-2 row">
									<div class="col-md-5">{{ product_form.categories.label_tag }}</div>
									<div class="col-md-7">{{ product_form.categories }}</div>
								</div>
								<div class="new-product row"><div class="col-md-9">{{ product_form.description.errors }}</div></div>
								<div class="new-product mb-1 row">
									<div class="col-md-5">{{ product_form.description.label_tag }}</div>
									<div class="col-md-7">{{ product_form.description }}</div>
								</div>
								<div class="new-product row mt-2"><div class=="col-md-12 font-weight-bold">Add links to up to three pictures of the product</div></div>
								<div class="new-product row"><div class="col-md-12">{{ image_formset.non_form_errors }}</div></div>
								{{ image_formset.management_form }}
								<!-- for iform in image_formset -->
								<div class="new-product row">
									<div class="col-md-4">
										{{ image_formset.0.non_field_errors }}
									</div>
									<div class="col-md-4">
										{{ image_formset.1.non_field_errors }}
									</div>
									<div class="col-md-4">
										{{ image_formset.2.non_field_errors }}
									</div>
								</div>
								<div class="new-product row">
									<div class="col-md-4">
										{{ image_formset.0.image_url.errors }}
									</div>
									<div class="col-md-4">
										{{ image_formset.1.image_url.errors }}
									</div>
									<div class="col-md-4">
										{{ image_formset.2.image_url.errors }}
									</div>
								</div>
								<div class="new-product row">
									<div class="col-md-4 update-picture text-center" id="picture-1">
										<img src="{{ image_formset.0.image_url.value }}" height="150px" width="150px">
									</div>
									<div class="col-md-4 update-picture text-center" id="picture-2">
										<img src="{{ image_formset.1.image_url.value }}" height="150px" width="150px">
									</div>
									<div class="col-md-4 update-picture text-center" id="picture-3">
										<img src="{{ image_formset.2.image_url.value }}" height="150px" width="150px">
									</div>
								</div>
								<div class="new-product row mt-1 mb-1">
									<div class="col-md-4 image-url text-center" id="image-url-1">
										<div class="d-flex nowrap">
											{{ image_formset.0.image_url }}
											<span class="remove-img border border-danger border-1 m-1 p-1 text-danger" title="Remove picture" id="del-img-1">X</span>
										</div>
									</div>
									<div class="col-md-4 image-url text-center" id="image-url-2">
										<div class="d-flex nowrap">
											{{ image_formset.1.image_url }}
											<span class="remove-img border border-danger border-1 m-1 p-1 text-danger" title="Remove picture" id="del-img-2">X</span>
										</div>
									</div>
									<div class="col-md-4 image-url text-center" id="image-url-3">
										<div class="d-flex nowrap">
											{{ image_formset.2.image_url }}
											<span class="remove-img border border-danger border-1 m-1 p-1 text-danger" title="Remove picture" id="del-img-3">X</span>
										</div>
									</div>
								</div>
								<div class="new-product row h-1 hidden">
								    <div class="col-4">
								        {{ image_formset.0.DELETE }}
								    </div>
								    <div class="col-4">
								        {{ image_formset.1.DELETE }}
								    </div>
								    <div class="col-4">
								        {{ image_formset.2.DELETE }}
								    </div>
								</div>
								<!-- endfor -->
								<!-- choose existing product if do not want to create new one -->
								<div class="row mt-2 product-list-error"><div class="col-md-12">{{ form.product.errors }}</div></div>
								<div class="products-list row mt-2">
									<div class="col-md-5">List of saved products:</div>
									<div class="col-md-7">{{ form.product }}</div>
								</div>
								{% endif %}
								<div class="row"><div class="col-md-12">{{ form.state.errors }}</div></div>
								<div class="row">
									<div class="col-md-5">{{ form.state.label_tag }}</div>
									<div class="col-md-7">{{ form.state }}</div>
								</div>
								<div class="row"><div class="col-md-12">{{ form.start_time.errors }}</div></div>
								<div class="row">
									<div class="col-md-5">{{ form.start_time.label_tag }}</div>
									<div class="col-md-7">{{ form.start_time }}</div>
								</div>
								<div class="row"><div class="col-md-12">{{ form.duration.errors }}</div></div>
								<div class="row">
									<div class="col-md-5">{{ form.duration.label_tag }}</div>
									<div class="col-md-7">{{ form.duration }}</div>
								</div>
								<div class="row"><div class="col-md-12">{{ form.start_time.errors }}</div></div>
								<div class="row">
									<div class="col-md-5">{{ form.start_time.label_tag }}</div>
									<div class="col-md-7">{{ form.start_time }}</div>
								</div>
								<div class="row"><div class="col-md-12">{{ form.start_price.errors }}</div></div>
								<div class="row">
									<div class="col-md-5">{{ form.start_price.label_tag }}</div>
									<div class="col-md-7">{{ form.start_price }}</div>
								</div>
								<div class="row"><div class="col-md-12">{{ form.payment_policy.errors }}</div></div>
								<div class="row">
									<div class="col-md-5">{{ form.payment_policy.label_tag }}</div>
									<div class="col-md-7">{{ form.payment_policy }}</div>
								</div>
								<div class="row"><div class="col-md-12">{{ form.shipment_policy.errors }}</div></div>
								<div class="row">
									<div class="col-md-5">{{ form.shipment_policy.label_tag }}</div>
									<div class="col-md-7">{{ form.shipment_policy }}</div>
								</div>
								<div class="row"><div class="col-md-12">{{ form.return_policy.errors }}</div></div>
								<div class="row">
									<div class="col-md-5">{{ form.return_policy.label_tag }}</div>
									<div class="col-md-7">{{ form.return_policy }}</div>
								</div>
							</div>
							<input class="btn btn-primary" type="submit" value="Create">
						</form>
					</div>					
				</div>
	
{% endblock %}
