{% extends "auctions/account/profile_layout.html" %}

{% block content %}
				
				<div class="container">
					<h3 class="">Personal and contact info.</h3>
					<p>Account owner:</p> 
					<div class="container mt-5 mb-2">
						<table>
							<tr>
								<td>Title:</td>
								<td>{{ object.get_title_display }}</td>
							</tr>
							<tr>
								<td>First name:</td>
								<td>{{ object.first_name }}</td>
							</tr>
							<tr>
								<td>Last name:</td>
								<td>{{ object.last_name }}</td>
							</tr>
					</div>
					<p>Contact and payment emails:</p> 
					<div class="container mt-5 mb-2">
						<table>
							<tr>
								<td>Contact email:</td>
								<td>
									{% if not object.emailaddresses_set.filter(type='CT').exists  %}
									{{ object.email }}
									{% else  %}
									{{ object.emailaddresses_set.filter(type='CT').get(0) }}
									{% endif %}
								</td>
							</tr>
							<tr>
								<td>Payment email (email linked to payment system):</td>
								<td>
									{% if not object.emailaddresses_set.filter(type='PT').exists  %}
									{{ object.email }}
									{% else  %}
									{{ object.emailaddresses_set.filter(type='PT').get(0) }}
									{% endif %}
								</td>
							</tr>
							<a href="{% url 'auctions:index' %}">Click here</a> to manage your email addresses.
					</div>
					<p>Addresses:</p> 
					<div class="container mt-5 mb-2">
						{% if not object.addresses_set.exists %}
						<p>Currently you do not have any saved address. 
						To be able to proceed to sale or buy goods on Auction$
						you should save at least one address to your profile.
						<a href="">Click here</a> to make it now.
						{% else %}
						<table>
							<tr>
								<td>Delivery address:</td>
								<td>
									{% if object.addresses_set.filter(type='DL').exists  %}
									{{ object.addresses_set.filter(type='DL').get(0) }}
									{% else  %}
									{{ object.addresses_set.first }}
									{% endif %}
								</td>
							</tr>
							<tr>
								<td>Billing address:</td>
								<td>
									{% if object.addresses_set.filter(type='BL').exists  %}
									{{ object.addresses_set.filter(type='BL').get(0) }}
									{% else  %}
									{{ object.addresses_set.first }}
									{% endif %}
								</td>
							</tr>
							<a href="{% url 'auctions:index' %}">Click here</a> to manage your addresses.
					</div>						
				</div>
	
{% endblock %}
