{% extends "auctions/layout.html" %}

{% block body %}

    <div class="container d-flex flex-column">
		<div class="breadcrum d-inline-flex flex-row w-100 mt-1 mb-2 border border-top-0 border-right-0 border-left-0">
			<ul class="nav"><li class="nav-item">Links breadcrum</li></ul>
		</div>
		<div class="main flex-row d-flex w-100">
			<ul class="nav flex-column w-25 border border-top-0 border-bottom-0 border-left-0">
				<li class="nav-item"><a href="{% url 'auctions:profile' user.id %}">Summary</a></li>
				<li class="nav-item"><a href="{% url 'auctions:credentials' user.id %}">Credentials</a></li>
				<li class="nav-item"><a href="{% url 'auctions:user_profile' user.pk %}">Personal and Contact info</a></li>
				<li class="nav-item"><a href="{% url 'auctions:sell_activities' user.pk %}">Sell activity</a></li>
				<li class="nav-item"><a href="{% url 'auctions:purchase_activities' user.pk %}">Purchase activity</a></li>
				<li class="nav-item"><a href="{% url 'auctions:watchlist' user.pk %}">Watchlist</a></li>
				<li class="nav-item"><a href="{% url 'auctions:manage_comments' user.pk %}">Manage comments</a></li>
				<li  class="nav-item"><a href="{% url 'auctions:messenger' %}">Message center</a></li>
			</ul>
			<div class="flex-column w-75">
				
				{% block content %}
				{% endblock %}	
				
			</div>
		</div>
    </div>
	
{% endblock %}
