{% extends "auctions/account/profile_layout.html" %}

{% block content %}
{% load setflag %}
				
	{% if not user.profile_completed %}
	<div class="container m-2 bg-warning">
		<p>Your profile information is incomplete!</p>
		<p>You will not be able to buy or sell products on Auction$ till 
		all required information is not provided.</p>
		<a href="{% url 'auctions:user_profile' user.pk %}">
			Complete profile now.
		</a>
	</div>
	{% else %}
	<div class="container">
		<ul class="nav nav-tabs nav-justified">
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#active">
					Active listings
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#sold">
					Sold items
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#unsold">
					Unsold items
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#products">
					Manage products
				</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active mt-2" id="active">
				<div class="d-flex nowrap w-100" id="tab-header">
					<h3 class="flex-grow-1">Your active listings:</h3>
					<a href="{% url 'auctions:create_listing' user.pk %}"><button class="btn btn-primary" id="create-listing-btn">
						Create new listing
					</button></a>
				</div>
				<div class="header-row mt-2 ml-1 row">
					<div class="col-md-1 text-center">
						Image
					</div>
					<div class="col-md-2 text-center">
						Title
					</div>
					<div class="col-md-2 text-center">
						Categories
					</div>
					<div class="col-md-1 text-center">
						Bids count
					</div>
					<div class="col-md-2 text-center">
						Highest bid
					</div>
					<div class="col-md-2 text-center">
						Time left
					</div>
					<div class="col-md-2 text-center">
						<button class="btn btn-danger" id="cancel-all">
							Cancel all
						</button>
					</div>			
				</div>
				{% for listing in active %}
				<a href="{% url 'auctions:update_listing' user.pk listing.pk %}">
					<div class="listing-row row mt-1 ml-1 bg-light" id="{{ listing.product.id }}">
						<div class="col-md-1 align-self-center">
							<img src="{{ listing.product.image_set.first.image_url }}" height="50px" width="50px">
						</div>
						<div class="col-md-2 text-center align-self-center">
							{{ listing.product.name|capfirst }}
						</div>
						<div class="col-md-2 text-center align-self-center">
							{% for category in listing.product.categories.all %}
								<p>{{ category.name }}</p>
							{% endfor %}
						</div>
						<div class="col-md-1 text-center align-self-center">
							{{ listing.bids.count }}
						</div>
						<div class="col-md-2 text-center align-self-center">
							{{ listing.max_bid }}
						</div>
						<div class="col-md-2 text-center align-self-center">
							{{ listing.end_time|timeuntil }}
						</div>
						<div class="col-md-2 text-center align-self-center">
							<button class="btn btn-warning" id="cancel-{{ listing.id }}">
								Cancel
							</button>
						</div>
					</div>
				</a>
				{% empty %}
					<p class="mt-1 bg-light">You do not have active listings at the moment. <a href="{% url 'auctions:create_listing' user.pk %}">Click here</a> to create one.</p>
				{% endfor %}
			</div>
			<div class="tab-pane mt-2" id="sold">
				<div class="d-flex nowrap w-100" id="tab-header">
					<h3 class="flex-grow-1">Your sold items:</h3>
					<button class="btn btn-primary" id="sold-items">
						Show stats
					</button>
				</div>
				<div class="header-row mt-2 ml-1 row">
					<div class="col-md-1 text-center">
						Image
					</div>
					<div class="col-md-2 text-center">
						Title
					</div>
					<div class= "col-md-2 text-center">
						Categories
					</div>
					<div class="col-md-1 text-center">
						Bids count
					</div>
					<div class="col-md-2 text-center">
						Winning bid
					</div>
					<div class="col-md-2 text-center">
						Winner
					</div>
					<div class="col-md-2 text-center">
						Ended on
					</div>			
				</div>
				{% for listing in sold %}
					<div class="listing row mt-1 ml-1 bg-light">
						<div class="col-md-1 text-center align-self-center">
							<img src="{{ listing.product.image_set.first.image_url }}" height="50px" width="50px">
						</div>
						<div class="col-md-2 text-center align-self-center">
							{{ listing.product.name|capfirst }}
						</div>
						<div class="col-md-2 text-center align-self-center">
							{% for category in listing.product.categories.all %}
								<p>{{ category.name }}</p>
							{% endfor %}
						</div>
						<div class="col-md-1 text-center align-self-center">
							{{ listing.bids.count }}
						</div>
						<div class="col-md-2 text-center align-self-center">
							{{ listing.max_bid }}
						</div>
						<div class="col-md-2 text-center align-self-center">
							{{ listing.winner.username }}
						</div>
						<div class="col-md-2 text-center align-self-center">
							{% if listing.cancelled_on %}
								{{ listing.cancelled_on }}
							{% else %}
								{{ listing.end_time}}
							{% endif %}
						</div>
					</div>
				{% empty %}
					<p class="mt-1 bg-light">You did not sell any items yet. <a href="{% url 'auctions:create_listing' user.pk %}">Click here</a> to sell one.</p>
				{% endfor %}
			</div>
			<div class="tab-pane mt-2" id="unsold">
				<div class="d-flex nowrap w-100" id="tab-header">
					<h3 class="flex-grow-1">Items that was not sold:</h3>
					<button class="btn btn-primary" id="unsold-items">
						Show stats
					</button>
				</div>
				<div class="row header-row mt-2 ml-1">
					<div class="col-md-1 text-center">
						Image
					</div>
					<div class="col-md-3 text-center">
						Title
					</div>
					<div class= "col-md-2 text-center">
						Categories
					</div>
					<div class="col-md-2 text-center">
						Followers
					</div>
					<div class="col-md-2 text-center">
						Ended on
					</div>
					<div class="col-md-2 text-center">
						<button class="btn btn-primary" id="relist-all">
							Relist All
						</button>
					</div>				
				</div>
				{% for listing in unsold %}
					<div class="listing row mt-1 ml-1 bg-light">
						<div class="col-md-1 text-center align-self-center">
							<img src="{{ listing.product.image_set.first.image_url }}" height="50px" width="50px">
						</div>
						<div class="col-md-3 text-center align-self-center">
							{{ listing.product.name|capfirst }}
						</div>
						<div class="col-md-2 text-center align-self-center">
							{% for category in listing.product.categories.all %}
								<p>{{ category.name }}</p>
							{% endfor %}
						</div>
						<div class="col-md-2 text-center align-self-center">
							{{ listing.followers.count }}
						</div>
						<div class="col-md-2 text-center align-self-center">
							{% if listing.cancelled_on %}
								{{ listing.cancelled_on }}
							{% else %}
								{{ listing.end_time }}
							{% endif %}
						</div>
						<div class="col-md-2 text-center align-self-center">
							<button class="btn btn-secondary" id="relist">Relist</button>
						</div>
					</div>
				{% empty %}
					<p class="mt-1 bg-light">You do not have any listings ended without winning bidder. <a href="{% url 'auctions:create_listing' user.pk %}">Click here</a> to create new listing.</p>
				{% endfor %}
			</div>
			<div class="tab-pane mt-2" id="products">
				<div class="d-flex nowrap w-100" id="tab-header">
					<h3 class="flex-grow-1">Manage products you offer:</h3>
					<a href="{% url 'auctions:create_product'  user.pk %}"><button class="btn btn-primary" id="create-listing-btn">
						Add product
					</button></a>
				</div>
				<div class="row header-row mt-2 ml-1">
					<div class="col-md-2 text-center">
						Image
					</div>
					<div class="col-md-3 text-center">
						Title
					</div>
					<div class= "col-md-2 text-center">
						Categories
					</div>
					<div class="col-md-2 text-center">
						Status
					</div>
					<div class="col-md-1 text-center">
						Num sold
					</div>
					<div class="col-md-2 text-center">
						Action
					</div>				
				</div>
				{% for product in user.products.all|dictsort:"created_on" %}
				<a href="{% url 'auctions:update_product' user.pk product.pk %}">
					<div class="row product-row mt-1 ml-1 bg-light" id="{{ product.id }}">
						<div class="col-md-2 text-center align-self-center">
							<img src="{{ product.image_set.first.image_url }}" height="50px" width="50px">
						</div>
						<div class="col-md-3 text-center align-self-center">
							{{ product.name|capfirst }}
						</div>
						<div class="col-md-2 text-center align-self-center">
							{% for category in product.categories.all %}
								<p>{{ category.name }}</p>
							{% endfor %}
						</div>
						<div class="col-md-2 text-center align-self-center">
							{% if product.sold_num > 0 %}
								Sold
							{% elif product.listings.first %}
								Listed
							{% else %}
								Not listed 
							{% endif %}
						</div>
						<div class="col-md-1 text-center align-self-center">
							{{ product.sold_num }}
						</div>
						<div class="col-md-2 text-center align-self-center">
							<button class="btn btn-secondary" id="sell">Sell</button>
						</div>
					</div>
				</a>
				{% empty %}
					<p class="mt-1 bg-light">You did not add any product yet. <a href="{% url 'auctions:create_product' user.pk %}">Click here</a> to add one.</p>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}
	
{% endblock %}
