{% extends "auctions/account/profile_layout.html" %}

{% block content %}
				
				{% if not user.profile_completed %}
				<div class="container m-2 bg-warning">
					<p>Your profile information is incomplete!</p>
					<p>You will not be able to buy or sell products on Auction$ till 
					all required information is not provided.</p>
					<a href="{% url 'auctions:user_profile' user.pk %}">
						Complete profile now.
					</a>
				</div>
				{% endif %}
				
				<div class="container">
					<h3>Your active listings:</h3>
					<div class="header row ml-1">
						<div class="col-md-1 text-center">
							Picture
						</div>
						<div class="col-md-3 text-center">
							Title
						</div>
						<div class="col-md-2 text-center">
							Category
						</div>
						<div class="col-md-2 text-center">
							Highest bid
							</div>
							<div class="col-md-2 text-center">
							Num.of bids
						</div>
						<div class="col-md-2 text-center">
							Time left
						</div>
					</div>
					{% for listing in user_active_listings|slice:":5" %}
					<a href="{% url 'auctions:update_listing' user.pk listing.pk %}">
						<div class="listing row mt-1 mb-1 ml-1 bg-light">
							<div class="col-md-1 text-center">
								<img src="{{ listing.product.image_set.first.image_url }}" height="50px" width="50px">
							</div>
							<div class="col-md-3 text-center">
								{{ listing.product.name|capfirst }}
							</div>
							<div class="col-md-2 text-center">
								{% for category in listing.product.categories.all %}
									<p>{{ category.name }}</p>
								{% endfor %}
							</div>
							<div class="col-md-2 text-center">
								{{ listing.max_bid }}
								</div>
								<div class="col-md-2 text-center">
								{% if listing.bids.count %}
								{{ listing.bids.count }}
								{% else %}
								0
								{% endif %}
							</div>
							<div class="col-md-2 text-center">
								{{ listing.end_time|timeuntil }}
							</div>
						</div>
					</a>
					{% empty %}
						<p class="mt-1 bg-light">You do not have listings yet. <a href="{% url 'auctions:create_listing' user.pk %}">Click here</a> to create one.</p>
					{% endfor %}
					{% if user_active_listings.5 %}
						<a href="{% url 'auctions:sell_activities' user.pk %}" class="nav-link">View more</a>
					{% endif %}
				</div>
				<div class="container mt-2">
					<h3>Your bids on active listings:</h3>
					<div class="header row ml-1">
						<div class="col-md-2 text-center">
							Picture
						</div>
						<div class="col-md-2 text-center">
							Title
						</div>
						<div class="col-md-2 text-center">
							Category
						</div>
						<div class="col-md-2 text-center">
							Your bid
						</div>
						<div class="col-md-2 text-center">
							Top bid
						</div>
						<div class="col-md-2 text-center">
							Time left
						</div>
					</div>
					{% for bid in bids_on_active|slice:":5" %}
					<a href="{% url 'auctions:listing' bid.listing.pk %}">
						<div class="listing row mt-1 ml-1 bg-light">
							<div class="col-md-2 text-center">
								<img src="{{ bid.listing.product.image_set.first.image_url }}" height="50px" width="50px">
							</div>
							<div class="col-md-2 text-center">
								{{ bid.listing.product.name|capfirst }}
							</div>
							<div class="col-md-2 text-center">
								{% for category in bid.listing.product.categories.all %}
									<p>{{ category.name }}</p>
								{% endfor %}
							</div>
							<div class="col-md-2 text-center">
								{{ bid.value }}
							</div>
							<div class="col-md-2 text-center">
								{{ bid.listing.max_bid }}
							</div>
							<div class="col-md-2 text-center">
								{{ bid.listing.end_time|timeuntil }}
							</div>
						</div>
					</a>
					{% empty %}
						<p class="mt-1 bg-light">You did not place any bids yet.</p>
					{% endfor %}
					{% if bids_on_active.5 %}
						<a class="nav-link" href="{% url 'auctions:purchase_activities' user.pk %}">View more</p>
					{% endif %}
				</div>
				<div class="container mt-2">
					<h3>Your watchlist:</h3>
					{% with user.watchlist.all as user_watchlist %}
						<div class="header row mt-1">
							<div class="col-md-2 text-center">
								Status
							</div>
							<div class="col-md-1 text-center">
								Picture
							</div>
							<div class="col-md-3 text-center">
								Title
							</div>
							<div class="col-md-2 text-center">
								Category
							</div>
							<div class="col-md-1 text-center">
								Top bid
							</div>
							<div class="col-md-1 text-center">
								Num.of bids
							</div>
							<div class="col-md-2 text-center">
								Left time
							</div>
						</div>
						{% for listing in user_watchlist|dictsortreversed:"end_time"|slice:":5" %}
						<a href="{% url 'auctions:listing' listing.pk %}">
							<div class="listing row mt-1 ml-1 bg-light">
								<div class="col-md-2 text-center">
									{{ listing.status }}
								</div>
								<div class="col-md-1 text-center">
									<img src="{{ listing.product.image_set.first.image_url }}" height="50px" width="50px">
								</div>
								<div class="col-md-3 text-center">
									{{ listing.product.name|capfirst }}
								</div>
								<div class="col-md-2 text-center">
									{% for category in listing.product.categories.all %}
										<p>{{ category.name }}</p>
									{% endfor %}
								</div>
								<div class="col-md-1 text-center">
									{{ listing.max_bid }}
								</div>
								<div class="col-md-1 text-center">
									{{ listing.bids.count }}
								</div>
								<div class="col-md-2 text-center">
									{{ listing.end_time|timeuntil }}
								</div>
							</div>
						</a>
						{% empty %}
							<p class="mt-1 bg-light">There are no listings added to your watchlist yet.</p>
						{% endfor %}
						{% if user_watchlist.5 %}
							<a class="nav-link" href="{% url 'auctions:watchlist' user.pk %}">View more</a>
						{% endif %}
					{% endwith %}
				</div>
				<div class="container mt-2 d-flex flex-row">
					<div class="w-50 mr-1">
						<h3>Recent sales:</h3>
							{% for listing in sold|slice:":5" %}
							<a href="{% url 'auctions:update_listing' user.pk listing.pk">
								<div class="listing row mt-1 ml-1 bg-light">
									<div class="col-md-6 text-center">
										<img src="{{ listing.product.image_set.first.image_url }}" height="50px" width="50px">
									</div>
									<div class="col-md-6 text-center">
										{{ listing.product.name|capfirst }}
									</div>
								</div>
							</a>
							{% empty %}
								<p class="mt-1 bg-light">You did not sell any product on Auction$ yet.</p>
							{% endfor %}
							{% if sold.5 %}
								<a class="nav-link mt-1" href="{% url 'auctions:sell_activities' user.pk %}">View more</a>
							{% endif %}
							</div>
							
					<div class="w-50 ml-1">
						<h3>Recent purchases:</h3>
							{% for listing in bought|slice:":5" %}
							<a href="{% url 'auctiong:listing' listing.pk %}">
								<div class="listing row mt-1 ml-1 bg-light">
									<div class="col-md-6 text-center">
										<img src="{{ listing.product.image_set.first.image_url }}" height="50px" width="50px">
									</div>
									<div class="col-md-6 text-center">
										{{ listing.product.name|capfirst }}
									</div>
								</div>
							</a>
							{% empty %}
								<p class="mt-1 bg-light">You did not buy any product on Auction$ yet.</p>
							{% endfor %}
							{% if bought.5 %}
								<a class="nav-link" href="{% url 'auctions:purchase_activities' user.pk %}">View more</a>
							{% endif %}
				</div>
			</div>
	
{% endblock %}
