{% extends "auctions/account/profile_layout.html" %}

{% block content %}
				
				{% if not user.profile_completed %}
				<div class="container m-2 bg-warning">
					<p>Your profile information is incomplete!</p>
					<p>You will not be able to buy or sell products on Auction$ till 
					all required information is not provided.</p>
					<a href="{% url 'auctions:user_profile' user.pk %}">
						Complete profile now.
					</a>
				</div>
				{% endif %}
				
				<div class="container">
					<h3>Your active listings:</h3>
					<div class="header row ml-1">
						<div class="col-md-2">
							Image
						</div>
						<div class="col-md-3">
							Name
						</div>
						<div class="col-md-2">
							Highest bid
							</div>
							<div class="col-md-2">
							Num.of bids
						</div>
						<div class="col-md-3">
							Time left
						</div>
					</div>
					{% for listing in user_active_listings|slice:":3" %}
						<div class="listing row mt-1 mb-1 ml-1 bg-light">
							<div class="col-md-2">
								<img src="{{ listing.product.image_set.0.img_url }}">
							</div>
							<div class="col-md-3">
								{{ listing.product.name|capfirst }}
							</div>
							<div class="col-md-2">
								{{ listing.max_bid }}
								</div>
								<div class="col-md-2">
								{% if listing.bids.count %}
								{{ listing.bids.count }}
								{% else %}
								0
								{% endif %}
							</div>
							<div class="col-md-3">
								{{ listing.end_time|timeuntil }}
							</div>
						</div>
					{% empty %}
						<p>You do not have listings yet. <a href="{% url 'auctions:create_listing' user.pk %}">Click here</a> to create one.</p>
					{% endfor %}
					{% if user_active_listings.3 %}
						<div class="collapse" id="more-listings">
							{% for listing in user_active_listings|slice:"3:" %}
								<div class="listing row mt-1 mb-1 ml-1 bg-light">
									<div class="col-md-2">
										<img src="{{ listing.product.image_set.0.img_url }}">
									</div>
									<div class="col-md-3">
										{{ listing.product.name|capfirst }}
									</div>
									<div class="col-md-2">
										{{ listing.max_bid }}
										</div>
										<div class="col-md-2">
										{% if listing.bids.count %}
										{{ listing.bids.count }}
										{% else %}
										0
										{% endif %}
									</div>
									<div class="col-md-3">
										{{ listing.end_time|timeuntil }}
									</div>
								</div>
							{% endfor %}
						</div>
						<p class="nav-item" data-toggle="collapse" data-target="#more-listings"><a href="#more-listings" class="nav-link">View more</a></p>
					{% endif %}
				</div>
				<div class="container">
					<h3>Your bids on active listings:</h3>
					{% for bid in bids_on_active|slice:":3" %}
						<div class="listing row mt-1 bg-light">
							<div class="col-md-2">
								<img src="{{ bid.listing.product.image_set.0.img_url }}">
							</div>
							<div class="col-md-3">
								{{ bid.listing.product.name|capfirst }}
							</div>
							<div class="col-md-2">
								{% for category in bid.listing.product.categories.all %}
									<p>{{ category.name }}</p>
								{% endfor %}
							</div
							<div class="col-md-2">
								<p>Your bid: {{ bid.value }}</p>
								<p>Top bid: {{ bid.listing.max_bid }}</p>
							</div>
							<div class="col-md-3">
								<p>Time left: {{ bid.listing.end_time|timeuntil }}</p>
							</div>
						</div>
					{% empty %}
						<p>You did not place any bids yet.</p>
					{% endfor %}
					{% if bids_on_active.3 %}
						<div class="collapse" id="more-latest-bids">
							{% for bid in bids_on_active|slice:":3" %}
								<div class="listing row mt-1 bg-light">
									<div class="col-md-2">
										<img src="{{ bid.listing.product.image_set.0.img_url }}">
									</div>
									<div class="col-md-3">
										{{ bid.listing.product.name|capfirst }}
									</div>
									<div class="col-md-2">
										{% for category in bid.listing.product.categories.all %}
											<p>{{ category.name }}</p>
										{% endfor %}
									</div
									<div class="col-md-2">
										<p>Your bid: {{ bid.value }}</p>
										<p>Top bid: {{ bid.listing.max_bid }}</p>
									</div>
									<div class="col-md-3">
										<p>Time left: {{ bid.listing.end_time|timeuntil }}</p>
									</div>
								</div>
							{% endfor %}
						</div>
						<p class="nav-link" data-toggle="collapse" data-target="#more-latest-bids">View more</p>
					{% endif %}
				</div>
				<div class="container">
					<h3>Your watchlist:</h3>
					{% with user.watchlist.all as user_watchlist %}
						{% for listing in user_watchlist|dictsortreversed:"end_time"|slice:":3" %}
								<div class="listing row mt-1 bg-light">
								    <div class="col-md-2">
								        Status: {{ listing.status }}
								    </div>
									<div class="col-md-1">
										<img src="{{ listing.product.image_set.0.img_url }}">
									</div>
									<div class="col-md-3">
										{{ listing.product.name|capfirst }}
									</div>
									<div class="col-md-2">
										{% for category in listing.product.categories.all %}
											<p>{{ category.name }}</p>
										{% endfor %}
									</div>
									<div class="col-md-2">
										<p>Top bid: {{ listing.max_bid }}</p>
										<p>Num.of bids: {{ listing.bids.count }}</p>
									</div>
									<div class="col-md-2">
										<p>End time: {{ listing.end_time }}</p>
										<p>{{ listing.end_time|timeuntil }}</p>
									</div>
								</div>
						{% empty %}
							<p>There are no listings added to your watchlist yet.</p>
						{% endfor %}
						{% if user_watchlist.3 %}
							<div class="collapse" id="more-watchlist">
								{% for listing in user.watchlist.all|dictsortreversed:"end_time"|slice:"3:" %}
										<div class="listing row mt-1 bg-light">
										    <div class="col-md-2">
								        Status: {{ listing.status }}
								    </div>
											<div class="col-md-1">
												<img src="{{ listing.product.image_set.0.img_url }}">
											</div>
											<div class="col-md-3">
												{{ listing.product.name|capfirst }}
											</div>
											<div class="col-md-2">
												{% for category in listing.product.categories.all %}
													<p>{{ category.name }}</p>
												{% endfor %}
											</div>
											<div class="col-md-2">
												<p>Top bid: {{ listing.max_bid }}</p>
												<p>Num.of bids: {{ listing.bids.count }}</p>
											</div>
											<div class="col-md-2">
												<p>End time: {{ listing.end_time }}</p>
												<p>{{ listing.end_time|timeuntil }}</p>
											</div>
										</div>
								{% endfor %}
							</div>
							<P class="nav-link" data-toggle="collapse" data-target="#more-watchlist">View more</p>
						{% endif %}
					{% endwith %}
				</div>
				<div class="container d-flex flex-row">
					<div class="w-50">
						<h3>Recent sales:</h3>
							{% for listing in sold|slice:":3" %}
								<div class="listing row mt-1 bg-light">
									<div class="col-md-6">
										<img src="{{ listing.product.image_set.0.img_url }}">
									</div>
									<div class="col-md-6">
										{{ listing.product.name|capfirst }}
									</div>
								</div>
							{% empty %}
								<p>You did not sell any product on Auction$ yet.</p>
							{% endfor %}
							{% if sold.3 %}
								<div class="collapse" id="more-recent-sales">
									{% for listing in sold|slice:"3:" %}
										<div class="listing row mt-1 bg-light">
											<div class="col-md-6">
												<img src="{{ listing.product.image_set.0.img_url }}">
											</div>
											<div class="col-md-6">
												{{ listing.product.name|capfirst }}
											</div>
										</div>
									{% endfor %}
								</div>
								<p class="nav-link" data-toggle="collapse" data-target="#more-recent-sales">View more</p>
							{% endif %}
					</div>
					<div class="w-50">
						<h3>Recent purchases:</h3>
							{% for listing in bought|slice:":3" %}
								<div class="listing row mt-1 bg-light">
									<div class="col-md-6">
										<img src="{{ listing.product.image_set.0.img_url }}">
									</div>
									<div class="col-md-6">
										{{ listing.product.name|capfirst }}
									</div>
								</div>
							{% empty %}
								<p>You did not buy any product on Auction$ yet.</p>
							{% endfor %}
							{% if bought.3 %}
								<div class="collapse" id="more-recent-purchases">
									{% for listing in bought|slice:"3:" %}
										<div class="listing row mt-1 bg-light">
											<div class="col-md-6">
												<img src="{{ listing.product.image_set.0.img_url }}">
											</div>
											<div class="col-md-6">
												{{ listing.product.name|capfirst }}
											</div>
										</div>
									{% endfor %}
								</div>
								<p class="nav-link" data-toggle="collapse" data-target="#more-recent-purchases">View more</p>
							{% endif %}
					</div>					
				</div>
	
{% endblock %}
