{% extends "auctions/account/profile_layout.html" %}

{% block content %}
				
				<div class="container">
					<div class="d-flex nowrap">
						<h3 class="flex-grow-1">Product information</h3>
						<button class="btn btn-secondary" id="product-list-{{ object.pk }}">Sell</button>
					</div>
					{% if object.listings.first %}
						<p>You can't modify or remove products that were already listed. Please create new product if some changes are required.</p>
					{% endif %}
					<div class="container mt-5">
						{{ form.non_field_errors }}
						<form action="{% url 'auctions:update_product' user_pk=user.id pk=object.pk %}" method="post">
							{% csrf_token %}
							<input type="hidden" name="seller" value="{{ object.seller.pk }}">
							<div class="update-product-form container mb-5 border border-primary border-top-0 border-right-0 border-left-0">
					
								<div class="row">{{ form.name.errors }}</div>
								<div class="row">
									<div class="col-md-4">{{ form.name.label_tag }}</div>
									<div class="col-md-8">{{ form.name }}</div>
								</div>
								<div class="row">{{ form.categories.errors }}</div>
								<div class="row">
									<div class="col-md-4">{{ form.categories.label_tag }}</div>
									<div class="col-md-8">{{ form.categories }}</div>
								</div>
								<div class="row">{{ form.description.errors }}</div>
								<div class="row">
									<div class="col-md-4">{{ form.description.label_tag }}</div>
									<div class="col-md-8">{{ form.description }}</div>
								</div>
								<div class="row mt-1"><h5>Product pictures</h5></div>
								<div class="row">Modify url path of the image file and click the picture to update</div>
								<div class="row">{{ formset.non_form_errors }}</div>
								{{ image_formset.management_form }}
								<div class="row">
									<div class="col-md-4">
										{{ image_formset.0.non_field_errors }}
									</div>
									<div class="col-md-4">
										{{ image_formset.1.non_field_errors }}
									</div>
									<div class="col-md-4">
										{{ image_formset.2.non_field_errors }}
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										{{ image_formset.0.image_url.errors }}
									</div>
									<div class="col-md-4">
										{{ image_formset.1.image_url.errors }}
									</div>
									<div class="col-md-4">
										{{ image_formset.2.image_url.errors }}
									</div>
								</div>
								<div class="row">
									<div class="col-md-4 update-picture text-center" id="picture-1">
										<img src="{{ object.image_set.all.0.image_url }}" height="150px" width="150px">
									</div>
									<div class="col-md-4 update-picture text-center" id="picture-2">
										<img src="{{ object.image_set.all.1.image_url }}" height="150px" width="150px">
									</div>
									<div class="col-md-4 update-picture text-center" id="picture-3">
										<img src="{{ object.image_set.all.2.image_url }}" height="150px" width="150px">
									</div>
								</div>
								<div class="row mt-1 mb-1">
									<div class="col-md-4 image-url text-center" id="image-url-1">
										<div class="d-flex nowrap">
											{{ image_formset.0.image_url }}
											<span class="remove-img border border-danger border-1 m-1 p-1 text-danger" title="Remove picture" id="del-img-1">X</span>
										</div>
									</div>
									<div class="col-md-4 image-url text-center" id="image-url-2">
										<div class="d-flex nowrap">
											{{ image_formset.1.image_url }}
											<span class="remove-img border border-danger border-1 m-1 p-1 text-danger" title="Remove picture" id="del-img-2">X</span>
										</div>
									</div>
									<div class="col-md-4 image-url text-center" id="image-url-3">
										<div class="d-flex nowrap">
											{{ image_formset.2.image_url }}
											<span class="remove-img border border-danger border-1 m-1 p-1 text-danger" title="Remove picture" id="del-img-3">X</span>
										</div>
									</div>
								</div>
								<div class="row h-1 hidden">
								    <div class="col-4">
								        {{ image_formset.0.DELETE }}
								    </div>
								    <div class="col-4">
								        {{ image_formset.1.DELETE }}
								    </div>
								    <div class="col-4">
								        {{ image_formset.2.DELETE }}
								    </div>
								</div>
							</div>
							<div class="d-flex nowrap justify-content-end">
							    {% if not object.listings.first %}
									<input class="btn btn-primary ml-1" type="submit" value="Update">
									<button class="btn btn-danger product-delete ml-1">Delete</button>
								{% endif %}
							</div>
						</form>
					</div>					
				</div>
	
{% endblock %}
