{% extends "auctions/account/profile_layout.html" %}

{% block content %}
<div class="container">
    <h2>Listing information</h2>
    <p>You can edit listing parameters other than product details untill the listing starts.</p>
    <div class="row listing-status-header">
        <div class="col-md-3 text-center">
            Listing status
        </div>
        <div class="col-md-3 text-center">
            Num.of watchers
        </div>
        <div class="col-md-3 text-center">
            Num.of bids
        </div>
        <div class="col-md-3 text-center">
            Top bid
        </div>
    </div>
    <div class="row listing-status-data mt-1 bg-light">
        <div class="col-md-3 text-center">
            {{ object.status }}
        </div>
        <div class="col-md-3 text-center">
            {{ object.followers.count }}
        </div>
        <div class="col-md-3 text-center">
            {{ object.bids.count }}
        </div>
        <div class="col-md-3 text-center">
            {{ object.max_bid }}€
        </div>
    </div>
	<form action="{% url 'auctions:update_listing' user.pk object.pk %}" method="POST">
		{% csrf_token %}
			<div class="update-listing-form mt-2 mb-2 container border border-primary border-top-0 border-right-0 border-left-0">
				<!-- listing product is not editable but should be in POST data -->
				<div class="products-list row">
					<div class="col-md-6">Product:</div>
					<div class="col-md-6" style="visibility:hidden;">{{ form.product }}</div>
				</div>
				<a href="{% url 'auctions:update_product' user.pk object.product.pk %}">
					<div class="row product bg-light">
						<div class="col-md-2 text-center align-self-center">
							<img src="{{ object.product.image_set.first.image_url }}" height="50px" width="50px">
						</div>
						<div class="col-md-4 text-center">
							<p>Title:</p>
							<p>{{ object.product.name|capfirst }}</p>
						</div>
						<div class="col-md-3 text-center">
							<p>Categories:</p>
							{% for category in object.product.categories.all %}
								<p>{{ category.name }}</p>
							{% endfor %}
						</div>
						<div class="col-md-3 text-center">
							<p>State:</p> 
							</p>{{ object.get_state_display }}</p>
						</div>
					</div>
				</a>
				<div class="row">
					<div class="col-md-5">Description</div>
					<div class="col-md-7">{{ object.product.description }}</div>
				</div>
				<div class="row" style="visibility: hidden;">
					<div class="col-md-5">{{ form.state.label_tag }}</div>
					<div class="col-md-7">{{ form.state }}</div>
				</div>
				<div class="row"><div class="col-md-12">{{ form.start_time.errors }}</div></div>
				<div class="row">
					<div class="col-md-5">{{ form.start_time.label_tag }}</div>
					<div class="col-md-7">{{ form.start_time }}</div>
				</div>
				<div class="row"><div class="col-md-12">{{ form.duration.errors }}</div></div>
				<div class="row">
					<div class="col-md-5">{{ form.duration.label_tag }}</div>
					<div class="col-md-7">{{ form.duration }}</div>
				</div>
				<div class="row"><div class="col-md-12">{{ form.start_price.errors }}</div></div>
				<div class="row">
					<div class="col-md-5">{{ form.start_price.label_tag }}</div>
					<div class="col-md-7">{{ form.start_price }}</div>
				</div>
				<div class="row"><div class="col-md-12">{{ form.payment_policy.errors }}</div></div>
				<div class="row">
					<div class="col-md-5">{{ form.payment_policy.label_tag }}</div>
					<div class="col-md-7">{{ form.payment_policy }}</div>
				</div>
				<div class="row"><div class="col-md-12">{{ form.shipment_policy.errors }}</div></div>
				<div class="row">
					<div class="col-md-5">{{ form.shipment_policy.label_tag }}</div>
					<div class="col-md-7">{{ form.shipment_policy }}</div>
				</div>
				<div class="row"><div class="col-md-12">{{ form.return_policy.errors }}</div></div>
				<div class="row">
					<div class="col-md-5">{{ form.return_policy.label_tag }}</div>
					<div class="col-md-7">{{ form.return_policy }}</div>
				</div>
			</div>
		{% if object.status == "not started yet"  %}
			<input type="submit" class="btn btn-primary edit" value="Edit">
		{% endif %}
	</form>
	<a href="{% url 'auctions:cancel_listing' user.pk object.pk %}">
		<button class="btn btn-danger cancel" id="{{ object.pk }}">Cancel</button>
	</a>
</div>
{% endblock %}
