{% extends "auctions/account/profile_layout.html" %}

{% block content %}
<div class="container">
    <h2>Listing information</h2>
    <p>You can edit listing parameters other than product details till listing starts.</p>
	<form action="{% url 'auctions:update_listing' user.pk object.pk %}" method="POST">
		{% csrf_token %}
							<div class="update-listing-form mb-2 container border border-primary border-top-0 border-right-0 border-left-0">
								<!-- listing product is not editable but should be in POST data -->
								<div class="products-list row">
									<div class="col-md-4">Product:</div>
									<div class="col-md-9" style="visibility:hidden;">{{ form.product }}</div>
								</div>
								<div class="row product bg-light">
								    <div class="col-md-2 text-center align-self-center">
								        {{ object.product.image_set.o.image_url }}
								    </div>
								    <div class="col-md-4 text-center">
								        <p>Title:</p>
								        <P>{{ object.product.name|capfirst }}</p>
								    </div>
								    <div class="col-md-3 text-center">
								        <p>Categories:</p>
										{% for category in object.product.categories.all %}
											<p>{{ category.name }}</p>
										{% endfor %}
									</div>
									<div class="col-md-3 text-center">
										<p>State:</p> 
										</p>{{ object.get_state_display }}</p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">Description</div>
									<div class="col-md-6">{{ object.product.description }}</div>
								</div>
								<div class="row" style="visibility: hidden;">
									<div class="col-md-4">{{ form.state.label_tag }}</div>
									<div class="col-md-5">{{ form.state }}</div>
								</div>
								<div class="row"><div class="col-md-9">{{ form.start_time.errors }}</div></div>
								<div class="row">
									<div class="col-md-4">{{ form.start_time.label_tag }}</div>
									<div class="col-md-5">{{ form.start_time }}</div>
								</div>
								<div class="row"><div class="col-md-9">{{ form.duration.errors }}</div></div>
								<div class="row">
									<div class="col-md-4">{{ form.duration.label_tag }}</div>
									<div class="col-md-5">{{ form.duration }}</div>
								</div>
								<div class="row"><div class="col-md-9">{{ form.start_price.errors }}</div></div>
								<div class="row">
									<div class="col-md-4">{{ form.start_price.label_tag }}</div>
									<div class="col-md-5">{{ form.start_price }}</div>
								</div>
								<div class="row"><div class="col-md-9">{{ form.payment_policy.errors }}</div></div>
								<div class="row">
									<div class="col-md-4">{{ form.payment_policy.label_tag }}</div>
									<div class="col-md-5">{{ form.payment_policy }}</div>
								</div>
								<div class="row"><div class="col-md-9">{{ form.shipment_policy.errors }}</div></div>
								<div class="row">
									<div class="col-md-4">{{ form.shipment_policy.label_tag }}</div>
									<div class="col-md-5">{{ form.shipment_policy }}</div>
								</div>
								<div class="row"><div class="col-md-9">{{ form.return_policy.errors }}</div></div>
								<div class="row">
									<div class="col-md-4">{{ form.return_policy.label_tag }}</div>
									<div class="col-md-5">{{ form.return_policy }}</div>
								</div>
							</div>
		{% if object.status == "not started yet"  %}
			<input type="submit" class="btn btn-primary edit" value="Edit">
		{% endif %}
		<button class="btn btn-danger cancel" id="{{ object.pk }}">Cancel</button>
	</form>
</div>
{% endblock %}
