{% extends "auctions/account/profile_layout.html" %}

{% block content %}
				{% if not user.profile_completed %}
				<div class="container m-2 bg-warning">
					<p>Your profile information is incomplete!</p>
					<p>You will not be able to buy or sell products on Auction$ till 
					all required information is not provided.</p>
				</div>
				{% endif %}
				<script>var err = "{{ err }}"</script>
				<div class="container">
					<h3 class="">Hello {{ user.username|capfirst }} ({{ user.email }})!</h3>
					{% if not user.profile_completed %}
                        <p>Please fill the information below.</p>
					{% endif %}
					<div class="container mt-5 mb-2">
						<h4>Personal information:</h4>
                        {% if not user.profile_completed %}
                            <p>This information is required.</p>
                        {% endif %}
						{{ form.non_field_errors }}
						<form action="{% url 'auctions:user_profile' user.id %}" method="post">
						    {% if user.profile_completed %}
								<input type="hidden" id="title-value" name="titlevalue" value="">
						    {% endif %}
							<div id="full-name-form" class="mb-5 border border-primary border-top-0 border-right-0 border-left-0">
								{% csrf_token %}
								{{ form.non_field_errors }}
							
								<table class="full-name-form w-100 mb-3" id="full-name-form-table">
									{{ form.as_table }}
								</table>
							</div>
							
							<h4>Email addresses: {% if user.profile_completed %}<span class="btn btn-secondary edit-button" id="edit-emails-form">Edit</span>{% endif %}</h4>
                            <p>If no additional emails provided your main account email will be used for both communication and authentication at payment services.</p>
							<div id="email-address-formset" class="mb-5 border border-primary border-top-0 border-right-0 border-left-0">
								{{ formset.non_form_errors }}
								{{ email_formset.management_form }}
								
									{% for form in email_formset %}
									{{ form.non_field_errors }}
									{% if user.profile_completed %}
										<input type="hidden" id="email-type-value-{{ forloop.counter0 }}" value="" name="emailtype{{ forloop.counter0 }}">
									{% endif %}
									<table class="email-address-form w-100 mb-3" id="email-address-form-{{ forloop.counter0 }}">
											{{ form.as_table }}
									</table>
									{% endfor %}
								
								<h4 class="btn btn-primary w-25 text-left add" id="addEmail" title="Click here to add an email address for correspondence and/or payments other than email address you provided during registration.">Add email</h4>
							</div>
							
							<h4>Addresses: {% if user.profile_completed %}<span class="btn btn-secondary edit-button" id="edit-addresses-form">Edit</span>{% endif %}</h4>
                            {% if not user.profile_completed %}
                                <p>At least one address should be provided for delivery and billing purposes.</p>
                            {% endif %}
							<div id="address-formset" class="mb-5 w-100 border border-primary border-top-0 border-right-0 border-left-0">
								{{ formset.non_form_errors }}
								{{ address_formset.management_form }}
								{% for form in address_formset %}
								{{ form.non_field_errors }}
								{% if user.profile_completed %}
								<input type="hidden" id="address-type-value-{{ forloop.counter0 }}" value="" name="addresstype{{ forloop.counter0 }}">
								<input type="hidden" id="country-value-{{ forloop.counter0 }}" value="" name="country{{ forloop.counter0 }}">
								{% endif %}
								<table class="address-form mb-3" id="address-form-{{ forloop.counter0 }}">
									{{ form.as_table }}
								</table>
								{% endfor %}
								<h4 class="btn btn-primary w-25 text-left add" id="addAddress" title="Click here to add an additional address for delivery and/or billing.">Add address</h4>
							</div>
							{% if not user.profile_completed %}
								<input class="btn btn-primary" type="submit" value="Save">
							{% else %}
								<input class="btn btn-primary" type="submit" value="Update">
							{% endif %}
						</form>
					</div>					
				</div>
	
{% endblock %}
