{% extends "auctions/account/profile_layout.html" %}

{% block content %}
						
			<div class="container">
				<div class="d-flex nowrap w-100">
					<h3 class="flex-grow-1">Your watchlist:</h3>
					<button class="btn btn-primary" id="clear-watchlist">
						Remove all
					</button>
				</div>
				<div class="row mt-1 header-row">
					<div class="col-md-1 text-center">
						Image
					</div>
					<div class="col-md-2 text-center">
						Title
					</div>
					<div class="col-md-2 text-center">
						Categories
					</div>
					<div class="col-md-1 text-center">
						Bids count
					</div>
					<div class="col-md-1 text-center">
						Top bid
					</div>
					<div class="col-md-2 text-center">
						Time left
					</div>
					<div class="col-md-3 text-center">
						Actions
					</div>			
				</div>
				{% for item in watched_list|dictsort:"end_time" %}
					<div class="listing row mt-1 bg-light" id="{{ item.id }}">
						<div class="col-md-1 text-center align-self-center">
							<img src="{{ item.product.image_set.first.image_url }}" height="50px" width="50px">
						</div>
						<div class="col-md-2 text-center align-self-center">
							{{ item.product.name|capfirst }}
						</div>
						<div class="col-md-2 text-center align-self-center">
							{% for category in item.product.categories.all %}
								<p>{{ category.name }}</p>
							{% endfor %}
						</div>
						<div class="col-md-1 text-center align-self-center">
							{{ item.bids.count }}
						</div>
						<div class="col-md-1 text-center align-self-center">
							{{ item.max_bid }}
						</div>
						<div class="col-md-2 text-center align-self-center">
							{{ item.end_time|timeuntil }}
						</div>
						<div class="col-md-3 text-center align-self-center">
							<button class="btn btn-primary bid">Bid</button>
							<button class="btn btn-danger  unwatch" id="unwatch-{{ item.id }}">Unwatch</button>
						</div>
					</div>
				{% empty %}
					<p class="mt-1 bg-light">Your watchlist is empty.</p>
				{% endfor %}
							
			</div>
	
{% endblock %}
