body {
    padding: 10px;
}

.field-help-icon *,
.helptext {
	display: none;
}

.navbar-toggler {
	color: lightblue;
	font-size: 5vw;
}
/*
.email-address-form,
#address-form-1 {
	display: none;
}
*/

.text-toggle {
	color: blue;
	cursor: pointer;
}

.edit-button:hover,
.remove:hover,
#addEmail:hover,
#addAddress:hover,
.remove-img:hover,
.text-toggle:hover {
	opacity: 0.8;
	cursor: pointer;
}

.hidden {
	height: 1px;
	visibility: hidden;
}

#bootstrap-override .nav-link.messages-link {
    display: inline-block;
    position: relative;
}

#bootstrap-override .badge.unread {
    display: inline-block;
    position: absolute;
    right:-2px;
    top:2px;
}

.table-link:hover {
	cursor: pointer;
}
