.container {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: wrap;
}
  
.nav {
  width: 100%;
  flex: row;
}

.nav > input {
	display: none;
}

.nav > label {
    display: flex;
    flex-flow: wrap;
    /*border: 1px solid lightgrey;
    border-radius: 2px;*/
    height: 36px;
    width: 36px;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.nav > label:hover {
	box-shadow: 1px 1px 1px lightgrey, -1px -1px 1px lightgrey;
}

.nav > label span:first-child {
	margin-top: 5px;
}
  
.toggle-line {
  height: 4px;
  width: 90%;
  background-color: lightgrey;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
	display: flex;
	flex-flow: nowrap;
	justify-content: flex-end;
	list-style-type: none;
	margin: 5px;
	padding: 0;
}

.navbar-toggle {
	display: none;
}

.nav-item a {
	font-family: arial,sans-serif;
	font-size: 0.75em;
	color: black;
	padding: 10px 10px;
	text-decoration: none;
}

.nav-item a:hover, .nav-item a:focus {
	text-decoration: underline;
}
 
#toggle-button:checked + .navbar {
	display: block;
	text-align: right;
	list-style-type: none;
	margin: 10px;
	padding: 5;
}

.search-form {
  flex: column;
  flex-grow: 1;
  align-items: center;
}

.search-form form{
  display: flex;
  flex-flow: wrap;
}

.form-item {
  flex: row;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.form-item input {
	margin: 0 10px;
}

.form-item input[type=text] {
	width: 50%;
	padding: 12px 20px;
	box-sizing: border-box;
	border: solid 1px lightgrey;
	border-radius: 20px;
	transition-duration: 0.4s;
}

.form-item input[type=text]:hover {
	box-shadow: 1px 1px 5px lightgrey, -1px -1px 5px lightgrey;
}

.form-item input[type=text]:focus {
	box-shadow: 1px 1px 5px lightgrey, -1px -1px 5px lightgrey;
	outline: none;
}

.form-item input[type=submit] {
	color: #3c4043;
	border: none;
	border-radius: 5px;
	font-family: arial,sans-serif;
	padding: 10px 15px;
	cursor: pointer;
}

.form-item input[type=submit]:hover {
	box-shadow: 1px 1px 2px lightgrey, -1px -1px 2px lightgrey;
}

.form-item input[type=submit]:focus {
	outline: 1px solid lightblue;
}

@media only screen and (max-device-width: 700px) {
	.form-item input[type=text] {
		width: 65%;
	}
	
	.form-item input[type=submit] {
		font-size: 0.75em;
	}
}

@media only screen and (max-device-width: 550px) {
	.form-item input[type=text] {
		width: 75%;
	}
	
	.form-item input[type=submit] {
		font-size: 0.65em;
	}
}

@media only screen and (min-device-width: 400px) {
	.navbar-toggle {
		display: flex;
		flex-flow: nowrap;
		justify-content: flex-end;
		list-style-type: none;
		margin: 5px;
		padding: 0;
	}
   
	.nav > label {
		display: none;
	}
}
