body {
  display: flex;
  flex: wrap;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.nav {
  width: 100vw;
}

.navbar {
  display: flex;
  flex-flow: nowrap;
  justify-content: flex-end;
	list-style-type: none;
	margin: 5px;
	padding: 0;
}

.nav-item a {
	padding: 10px 10px;
	text-decoration: none;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form form{
  display: flex;
  justify-content: center;
}

input {
  flex-flow: row;
}

input[text] {
  border-radius: 10px;
}