<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<div id="post-form" class="container d-flex w-100 mt-2">
    <div class="d-flex flex-grow-1">
        <label for="new-post-text" class="sr-only">Posts's text</label>
        <input type="text" class="flex-grow-1" name="text" id="new-post-text" minlength="3" maxlength="500" placeholder="Say something!"/>
    </div>
    <button type="button" aria-label="create post button" id="create-post" class="btn btn-primary pl-10 pr-10 ml-1">Create post</button>
</div>
<p id="post-error" class="w-100 text-center"></p>