{% extends "auctions/account/profile_layout.html" %}

{% block content %}

<div class="container">
	<div class="row ml-1">
		<a href="{% url 'auctions:messenger' %}">
			Go to Messenger
		</a>
	</div>
    <div class="row mt-2">
        <div class="col-8">
            <h5>Message subject: {{ object.subject }}</h5>
        </div>
        {% if user == object.recipient and object.sender.username != "system" %}
        <div class="col-4">
            <a href="{% url 'auctions:send_message' user.pk object.listing.pk %}?parent={{ object.pk }}">
				<button class="btn btn-primary">Reply</button>
			</a>
        </div>
        {% endif %}
    </div>
    <div class="row message ml-1 mt-2 bg-light border border-bottom-1 border-top-0 border-left-0 bottom-right-0">
		<div class="col-4">Sender: {{ object.sender.username }}</div>
		<div class="col-4">Recipient: {{ object.recipient.username }}</div>
		<div class="col-4">{{ object.time }}</div>
    </div>
    <div class="row message ml-1 border border-bottom-1 border-top-0 border-left-0 bottom-right-0">
		<div class="col-3">Content:</div>
		<div class="col-9">{{ object.content|safe }}</div>
    </div>
</div>
{% if object.related or object.message_set.first %}
<div class="container">
	<ul class="nav">
		<li class="nav-item conversation" data-toggle="collapse" data-target="#conversation">
			<a href="#" class="nav-link">Show/hide whole conversation</a>
		</li>
	</ul>
    <div id="conversation" class="collapse">
        {% if object.related %}
        <div class="row ml-1 mt-2 bg-light border border-bottom-1 border-top-0 border-left-0 bottom-right-0">
            <div class="col-4">Sender: {{ object.related.sender.username }}</div>
            <div class="col-4">Recipient: {{ object.related.recipient.username }}</div>
            <div class="col-4">{{ object.related.time }}</div>
        </div>
        <div class="row ml-1 border border-bottom-1 border-top-0 border-left-0 bottom-right-0">
            <div class="col-3">Content:</div>
            <div class="col-9">{{ object.related.content|safe }}</div>
        </div>
        {% endif %}
        <div class="row mt-2 ml-1 bg-info border border-bottom-1 border-top-0 border-left-0 bottom-right-0>">
            <div class="col-4">
                Sender: {{ object.sender.username }}
            </div>
            <div class="col-4">
                Recipient: {{ object.recipient.username }}
            </div>
            <div class="col-4">
                {{ object.time }}
            </div>
        </div>
        <div class="row ml-1 bg-info border border-bottom-1 border-top-0 border-left-0 bottom-right-0">
            <div class="col-3">
                Content:
            </div>
            <div class="col-9">
                {{ object.content|safe }}
            </div>
        </div>
        {% for message in object.message_set.all %}
        <div class="row mt-2 ml-1 bg-light border border-bottom-1 border-top-0 border-left-0 bottom-right-0">
            <div class="col-4">Sender: {{ message.sender.username }}</div>
            <div class="col-4">Recipient: {{ message.recipient.username }}</div>
            <div class="col-4">{{ message.time }}</div>
        </div>
        <div class="row ml-1 border border-bottom-1 border-top-0 border-left-0 bottom-right-0">
            <div class="col-3">Content:</div>
            <div class="col-9">{{ message.content|safe }}</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}
