{% extends "auctions/account/profile_layout.html" %}

{% block content %}
    <h3 class="ml-5">See and manage messages and notifications.</h3>
	<div class="container">
		<ul class="nav nav-tabs nav-justified">
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#inbox">
					Inbox
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#outbox">
					Outbox
				</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active mt-2" id="inbox">
				<div class="row" id="tab-header">
					<h5 class="ml-3">Received messages and notifications. Click a message to see content and/or the whole conversation.</h5>
				</div>
				<div class="mt-2 row">
					<div class="col-2 text-center">
						Time
					</div>
					<div class="col-2 text-center">
						Sender
					</div>
					<div class="col-8 text-center">
						Subject
					</div>
				</div>
				<div>
				{% for message in inbox|slice:"10" %}
				<a href="{% url 'auctions:message' message.pk %}">
					<div class="row mt-1 border border-top-1 border-left-0 border-right-0 border-bottom-0 {% if not message.read %}font-weight-bold{% endif %}">
						<div class="col-2">
							{{ message.time }}
						</div>
						<div class="col-2">
							{{ message.sender.username }}
						</div>
						<div class="col-8">
							{{ message.subject }}
						</div>
					</div>
				</a>
				{% endfor %}
				</div>
				{% if inbox.10 %}
				<div class="collapse" id="received-messages">
				{% for message in inbox|slice:"10:" %}
				<a href="{% url 'auctions:message' message.pk %}">
					<div class="row mt-1 border border-top-1 border-left-0 border-right-0 border-bottom-0 {% if not message.read %}font-weight-bold{% endif %}">
						<div class="col-2">
							{{ message.time }}
						</div>
						<div class="col-2">
							{{ message.sender.username }}
						</div>
						<div class="col-8">
							{{ message.subject }}
						</div>
					</div>
				</a>
				{% endfor %}
				</div>
				<p data-toggle="collapse" data-target="#received-messages" class="w-100 mt-2 btn btn-primary text-toggle">More</p>
				{% endif %}
			</div>
			<div class="tab-pane mt-2" id="outbox">
				<div class="row" id="tab-header">
					<h5 class="ml-3">Sent messages. Click message to see content and/or the whole conversation.</h5>
				</div>
				<div class="mt-2 row">
					<div class="col-2 text-center">
						Time
					</div>
					<div class="col-2 text-center">
						Recipient
					</div>
					<div class="col-8 text-center">
						Subject
					</div>
				</div>
				<div>
				{% for message in outbox|slice:"10" %}
				<a href="{% url 'auctions:message' message.pk %}">
					<div class="row mt-1 border border-top-1 border-left-0 border-right-0 border-bottom-0">
						<div class="col-2">
							{{ message.time }}
						</div>
						<div class="col-2">
							{{ message.recipient.username }}
						</div>
						<div class="col-8">
							{{ message.subject }}
						</div>
					</div>
				</a>
				{% endfor %}
				</div>
				{% if outbox.10 %}
				<div class="collapse" id="sent-messages">
				{% for message in outbox|slice:"10" %}
				<a href="{% url 'auctions:message' message.pk %}">
					<div class="row mt-1 border border-top-1 border-left-0 border-right-0 border-bottom-0">
						<div class="col-2">
							{{ message.time }}
						</div>
						<div class="col-2">
							{{ message.recipient.username }}
						</div>
						<div class="col-8">
							{{ message.subject }}
						</div>
					</div>
				</a>
				{% endfor %}
				</div>
				<p data-toggle="collapse" data-target="#sent-messages" class="w-100 mt-2 btn btn-primary text-toggle">More</p>
				{% endif %}	
			</div>
		</div>
	</div>
	
{% endblock %}
