{% extends "auctions/account/profile_layout.html" %}

{% block content %}

<div class="container">
    <h5>Message subject: auction for {{ object.subject.product.name }} ended on {% if object.subject.cancelled_on %}{{ object.subject.cancelled_on }}{% else %}{{ object.subject.end_time}}{% endif %}</h5>
    <p>Sender: {{ object.sender.username }}</p>
    <p>Recipient: {{ object.recipient.username }}</p>
    <p>Content:</p>
    <p>{{ object.content }}</p>
    {% if user == object.recipient %}
        <button class="btn btn-primary">Reply</button>
    {% endif %}
</div>

{% endblock %}
