{% extends "auctions/account/profile_layout.html" %}

{% block content %}
<div class="container">
    <h3>New message</h3>
    <div class="row message-form">
        <form action="{% url 'auctions:send_message' user.pk listing.pk %}" metod="POST">
            {% csrf_token %}
            <div class="row">
                {{ form.non_field_errors }}
				<input type="hidden" name="sender" value="{{ user }}">
            </div>
            <div class="row">
                <div class="col-4">
                    Recipient:
                </div>
                <div class="col-8">
                    {{ recipient }}
					<input type="hidden" name="recipient" value="{{ recipient }}">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    Recipient's email:
                </div>
                <div class="col-8">
                    {{ toEmail }}
                </div>
            </div>
            <div class="row">
				{{ form.content.errors }}
			</div>
            <div class="row">
                <div class="col-4">
                    Message content:
                </div>
                <div class="col-8">
                    {{ form.content }}
                </div>
            </div>
            <input type="submit" class="btn btn-success" name="send-message" value="Send">
        </form>
    </div>
</div>
{% endblock %}
