{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
        <script src="{% static 'encyclopedia/scripts.js' %}"></script>
    </head>
    <body>
        <div class="row">
            <div class="sidebar col-lg-3 col-md-4">
                <h2>Wiki</h2>
                <form action="{% url 'encyclopedia:search' %}">
                    <input class="search" type="text" name="q" placeholder="Search Encyclopedia">
                </form>
                <div>
                    <a href="{% url 'encyclopedia:index' %}">Home</a>
                </div>
                <div>
                    <a href="{% url 'encyclopedia:create' %}">Create New Page</a>
                </div>
                <div>
                    <a href="{% url 'encyclopedia:rand' %}">Random Page</a>
                </div>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main col-lg-9 col-md-8">	
				{% block message %}
					{% if messages %}
					<div class="flash alert alert-{{ mtype }}">
						<ul>
							{% for message in messages %}
								<li>{{ message|capfirst }}</li>
							{% endfor %}
						</ul>
					</div>
					{% endif %}
				{% endblock %}
				<div>
					{% block body %}
					{% endblock %}
				</div>
            </div>
        </div>

    </body>
</html>
