{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <h2>Categories description</h2>
		<div class="header row mt-1 ml-1 border border-bottom-1 border-top-1 border-left-0 border-right-0">
			<div class="col-2 text-center">
				Category name
			</div>
			<div class="col-6 text-center">
				Category description
			</div>
			<div class="col-4 text-center">
				Number of active listings in the category
			</div>
		</div>
		{% for category in category_list %}
		<a href="{% url 'auctions:category' category.pk %}">
			<div class="row mt-1 ml-1 border border-bottom-1 border-top-0 border-left-0 border-right-0 bg-light">
				<div class="col-2 align-self-center">
					{{ category.name }}
				</div>
				<div class="col-6 align-self-center">
					{{ category.description }}
				</div> 
				<div class="col-4 text-center align-self-center">
					{{ category.active_listings_count }}
				</div>
			</div>
		</a>
		{% endfor %}
</div>
{% endblock %}
