{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <h2>Active Listings</h2>
		<div class="header row mt-1 ml-1">
			{% if user.is_authenticated %}
				<div class="col-md-1 text-center">
					Image
				</div>
				<div class="col-md-3 text-center">
					Title
				</div>
				<div class="col-md-2 text-center">
					Category
				</div>
				<div class="col-md-1 text-center">
					Top bid
				</div>
				<div class="col-md-2 text-center">
					Time left
				</div>
				<div class="col-md-1 text-center">
					Watchlist
				</div>
				<div class="col-md-2 text-center">
					Buy
				</div>
		    {% else %}
				<div class="col-md-1 text-center">
					Image
				</div>
				<div class="col-md-3 text-center">
					Title
				</div>
				<div class="col-md-2 text-center">
					Category
				</div>
				<div class="col-md-2 text-center">
					Bids count
				</div>
				<div class="col-md-2 text-center">
					Top bid
				</div>
				<div class="col-md-2 text-center">
					Time left
				</div>
		    {% endif %}
		</div>
			{% for listing in listing_list %}
				<a href="{{ listing.get_absolute_url }}">
				{% if user.is_authenticated %}
					<div class="row mt-1 ml-1 bg-light">
						<div class="col-md-1 text-center align-self-center">
						    <a href="{{ listing.product.image_url }}"></a>
						    </div>
						<div class="col-md-3 text-center align-self-center">
						    {{ listing.product.name|capfirst }}
						    </div> 
						    <div class="col-md-2 text-center align-self-center">
							{% for category in listing.product.categories.all %}
								<p>{{ category.name }}</p>
							{% endfor %}
						</div>
						<div class="col-md-1 text-center align-self-center">
						    {{ listing.max_bid }}
						    </div>
						<div class="col-md-2 text-center align-self-center">
						    {{ listing.end_time|timeuntil }}
						</div>
						<div class="col-md-1 text-center align-self-center">
							{% if listing in user.watchlist %}
								<button class="btn btn-warning unwatch" id="{{ listing.id }}">Unwatch</button>
							{% else %}
								<button class="btn btn-primary unwatch" id="{{ listing.id }}">Watch</button>
							{% endif %}
						</div>
						<div class="col-md-2 text-center align-self-center">
							<form id="listing_{{ listing.id }}" action="{% url 'auctions:bid' listing.id %}" method="POST">
								<div class="d-flex nowrap">
									<div class="w-50">
										<input class="form-control" type="number" name="bid" value="{{ listing.max_bid|add:'1' }}">
									</div>
									<div class="w-25">
										<button class="btn btn-primary" type="submit" id="place_bid_{{ listing_id }}">Bid</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				{% else %}
					<div class="row mt-1 ml-1 bg-light">
						<div class="col-md-1 text-center align-self-center">
						    <a href="{{ listing.product.image_url }}"></a>
						    </div>
						<div class="col-md-3 text-center align-self-center">
						    {{ listing.product.name|capfirst }}
						    </div> 
						    <div class="col-md-2 text-center align-self-center">
							{% for category in listing.product.categories.all %}
								<p>{{ category.name }}</p>
							{% endfor %}
						</div>
						<div class="col-md-2 text-center align-self-center">
						    {{ listing.bids.count }}
						</div>
						<div class="col-md-2 text-center align-self-center">
						    {{ listing.max_bid }}
						</div>
						<div class="col-md-2 text-center align-self-center">
						    {{ listing.end_time|timeuntil }}
						</div>
					</div>
				{% endif %}
				</a>
			{% empty %}
			    <p class="mt-1 ml-1 bg-light"></p>There are no active listings at the moment.</p>
			{% endfor %}
		</div>
		<div>
		  <nav aria-label="...">
			<ul class="pagination">

			  {% if page_obj.has_previous %}
				<li class="page-item">
				  <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
				</li>
				<li>
				  <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
					{{ page_obj.previous_page_number }}
				  </a>
				</li>
			  {% else %}
				<li class="page-item disabled">
				  <span class="page-link">Previous</span>
				</li>
			  {% endif %}

			  <li class="page-item active">
				<span class="page-link">{{ page_obj.number }}</span>
			  </li>

			  {% if page_obj.has_next %}
				<li class="page-item">
				  <a class="page-link" href="?page={{ page_obj.next_page_number }}">
					{{ page_obj.next_page_number }}
				  </a>
				</li>
				<li class="page-item ">
				  <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
				</li>
			  {% else %}
				<li class="page-item disabled">
				  <span class="page-link">Next</span>
				</li>
			  {% endif %}

			</ul>
		  </nav>
		</div>
</div>
{% endblock %}
