{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
	{% if active_listings_list %}
		<div>
			{% for listing in active_listings_list %}
				<a href="{% url 'auctions:listing' listing.id %}">
					<div class="d-flex nowrap">
						<div><a href="{{ listing.product.image_url }}"></a></div>
						<div>{{ listing.product.name|capfirst }}</div>
						<div>{{ listing.product.seller.name }}</div>
						<div>{{ listing.start_price }} EUR</div>
						<div>{{ listing.start_time|add:listing.duration }}</div>
					</div>
				</a>
			{% endfor %}
		</div>
	{% else %}
		<div>
			<p>There are no active listings at the moment.</p>
		</div>
	{% endif %}
{% endblock %}
