{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet"><!-- JS, Popper.js, and jQuery -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="{% static 'auctions/scripts.js' %}"></script>
    </head>
    <body>
		{% if messages %}
			<ul class="messages container">
				{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
					{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
					{{ message }}
				</li>
				{% endfor %}
			</ul>
		{% endif %}
		<div class="container navbar navbar-expand-md">
			<div class="navbar-brand">
				<a href="{% url 'auctions:index' %}"><h1>Auctions</h1></a>
				<div class="small text-success">
					{% if user.is_authenticated %}
						Signed in as <strong>{{ user.username }}</strong>.
					{% endif %}
				</div>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<!--<span class="navbar-toggler-icon info"></span>-->
				<span><i class="fas fa-bars"></i></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'auctions:index' %}">Active Listings</a>
					</li>
					{% if user.is_authenticated %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'auctions:watchlist' %}">Watchlist</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'auctions:create_listing' %}">Sell</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'auctions:messenger' %}">Messages</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'auctions:profile' user.pk %}">Account</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'auctions:logout' %}">Log Out</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'auctions:login' %}">Log In</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'auctions:register' %}">Register</a>
						</li>
					{% endif %}
				</ul>
			</div>
        </div>
		<form class="form-inline container justify-content-center" action="{% url 'auctions:search' %}" method="GET">
			{{ sform.non_field_errors }}
			<div class="fieldError">
				{{ sform.watched.errors }}
			</div>
			<input type="text" class="form-control w-50" placeholder="Search product" name="sform.watched.html_name" id="{{ sform.watched.id_for_label }}">
			<input class="btn btn-info" type="submit" name="search" role="button" value="Search">
		</form>
        <hr>
		<nav class="navbar navbar-expand-md justify-content-start">
			<a class="navbar-brand" href="{% url 'auctions:categories' %}">
				Categories:
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleCategoriesList">
				<span><i class="fas fa-list"></i></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleCategoriesList">
			<ul class="navbar-nav">	
			{% for category in categories_list %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'auctions:categories' category.id %}">
						{{ category.name | capfirst }}
					</a>
				</li>
			{% endfor %}
			</ul>
			</div>
		</nav>
        {% block body %}
        {% endblock %}
        
        </body>
</html>
