{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <h1>Auctions</h1>
        <div>
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'auctions:index' %}">Active Listings</a>
            </li>
            {% if user.is_authenticated %}
				<li class="nav-item">
                    <a class="nav-link" href="{% url 'auctions:watchlist' %}">Watchlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auctions:create' %}">Sell</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auctions:messenger' %}">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auctions:profile' %}">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auctions:logout' %}">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auctions:login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auctions:register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
        <div>
			<form action="{% url 'auctions:search' %}" method="GET">
				{{ sform.as_p }}
				<span>
					<input type="submit" name="search" role="button" value="Search">
				</span>
			</form>
		</div>
        <hr>
		<ul class="nav">
			{% for category in categories_list %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'auctions:categories' category.id %}">
						{{ category.name | capfirst }}
					</a>
				</li>
			{% endfor %}
		</ul>
        {% block body %}
        {% endblock %}
    </body>
</html>
