{% extends "auctions/layout.html" %}

{% block body %}
{% load static %}
<div class="container w-100">
    <p>Listing information:</p>
    <h3>{{ object.product.name }}</h3>
    <div class="row mt-2 w-100">
		<div class="col-8">
			<div class="row">
				<div class="col-6">
					<div class="row justify-content-center">
						<img src="{% if object.product.image_set.0.image_url %}{{ object.product.image_set.0.image_url }}{% else %}{% static 'auctions/images/cropped-placeholder.jpg'%}{% endif %}" width="200px" height="auto"/>
					</div>
					<div class="row mt-2 justify-content-center">
						<div class="col-6 text-center">
							<img src="{% if object.product.image_set.1.image_url %}{{ object.product.image_set.1.image_url }}{% else %}{% static 'auctions/images/cropped-placeholder.jpg'%}{% endif %}" width="80px" height="auto"/>
						</div>
						<div class="col-6 text-center">
							<img src="{% if object.product.image_set.2.image_url %}{{ object.product.image_set.2.image_url }}{% else %}{% static 'auctions/images/cropped-placeholder.jpg'%}{% endif %}" width="80px" height="auto"/>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="row justify-content-end">
					    Ends in:
					    </div>
						<div class="row justify-content-end">
						    <h3>{{ object.end_time|timeuntil }}</h3>
						    </div>
					<div class="row justify-content-end">
					    Seller:</div>
						<div class="row justify-content-end">
						    {{ object.product.seller.username }}
						    </div>
					<div class="row justify-content-end">
					    Highest bid:
					</div>
					<div class="row justify-content-end">
					    {{ object.max_bid }}
					</div>
					<div class="row justify-content-end">
					    Bids count:
					</div>
					<div class="row justify-content-end">
					    {{ object.bids.count }}
					</div>
					<div class="row justify-content-end">
					    Number of watchers:
					</div>
					<div class="row justify-content-end">
					    {{ object.followers.count }}
					</div>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="container">
			    <h4>Place a bid:</h4>
			    						{{ form.non_field_errors }}
			    <form action="{% url 'auctions:bid' object.id %}" method="POST">
			        {% csrf_token %}
			        <div class="row">
			            {{ form.value.error }}
			        </div>
			        <div class="row">
			            {{ form.value.label_tag }}
			        </div>
			        <div class="row">
			            {{ form.value }}
			        </div>
			    </form>
			</div>
			<div class="row mt-2 justify-content-end">
			    {% if listing.product.seller == user %}
								<button class="bnt btn-danger cancel-listing" id="cancel-{{ user.pk }}-{{ object.pk }}">Cancel</button>
							{% else %}
								{% if listing in user.watchlist.all %}
									<button class="btn btn-warning unwatch" id="unwatch-{{ object.id }}">Unwatch</button>
								{% else %}
									<button class="btn btn-primary watch" id="watch-{{ object.id }}">Watch</button>
								{% endif %}
							{% endif %}
			</div>
		</div>
    </div>
</div>
{% endblock %}
