{% extends "auctions/layout.html" %}

{% block body %}
{% load static %}
<div class="container w-100">
    <p>Listing information:</p>
    <h3>{{ object.product.name }}</h3>
    <div class="row mt-2 w-100">
		<div class="col-8">
			<div class="row">
				<div class="col-6">
					<div class="row justify-content-center">
						<img src="{% if object.product.image_set.0.image_url %}{{ object.product.image_set.0.image_url }}{% else %}{% static 'auctions/images/cropped-placeholder.jpg'%}{% endif %}" width="90%" height="auto"/>
					</div>
					<div class="row mt-2 justify-content-center">
						<div class="col-6 text-center">
							<img src="{% if object.product.image_set.1.image_url %}{{ object.product.image_set.1.image_url }}{% else %}{% static 'auctions/images/cropped-placeholder.jpg'%}{% endif %}" width="98%" height="auto"/>
						</div>
						<div class="col-6 text-center">
							<img src="{% if object.product.image_set.2.image_url %}{{ object.product.image_set.2.image_url }}{% else %}{% static 'auctions/images/cropped-placeholder.jpg'%}{% endif %}" width="98%" height="auto"/>
						</div>
					</div>
				</div>
				<div class="col-6">
					{% if user.is_authenticated and object.status == "active" %}
					<div class="row">
						<h4>Place a bid:</h4>
						{{ form.non_field_errors }}
						<form action="{% url 'auctions:listing' object.id %}" method="POST">
							{% csrf_token %}
							<div class="row pl-5">
								{{ form.value.error }}
							</div>
							<div class="row pl-5">
								{{ form.value.label_tag }}
							</div>
							<div class="row pl-5">
								{{ form.value }}
							</div>
							<div class="row pl-5">
								<input type="submit" name="place_bid" value="Place bid" class="btn btn-success">
							</div>
						</form>
					</div>
					{% endif %}
					<div class="row {% if user.is_authenticated and object.status == 'active' %} mt-5 {% endif %}">
						<div class="col-8">
							Seller:
						</div>
						<div class="col-4 text-right">
							<b>{{ object.product.seller.username }}</b>
						</div>
					</div>
					<div class="row">
						<div class="col-8">
							Highest bid:
						</div>
						<div class="col-4 text-right">
							<b>{{ object.max_bid }}</b>
						</div>
					</div>
					<div class="row">
						<div class="col-8">
							Bids count:
						</div>
						<div class="col-4 text-right">
							<b>{{ object.bids.count }}</b>
						</div>
					</div>
					<div class="row">
						<div class="col-8">
							Number of watchers:
						</div>
						<div class="col-4 text-right">
							<b>{{ object.followers.count }}</b>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-8">
							Number of comments:
						</div>
						<div class="col-4 text-right">
							<b>{{ object.comment_set.count }}</b>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-4 pl-5">
			{% if object.status == "active" %}
				<div class="row justify-content-start">
					Ends in:
				</div>
				<div class="row justify-content-start">
					<h3>{{ object.end_time|timeuntil }}</h3>
				</div>
			{% elif object.status == "not started yet" %}
				<div class="row justify-content-start">
					Starting in {{ object.start_time|timesince }}
				</div>
			{% else %}
				<div class="row justify-content-start">Listing ended</div>
			{% endif %}
			{% if user.is_authenticated %}
			<div class="row justify-content-start mt-5">
				{% if object.product.seller == user %}
					<button class="bnt btn-danger cancel-listing" id="cancel-{{ user.pk }}-{{ object.pk }}">Cancel</button>
				{% elif object.winner == user %}
					<!--<div class="col mb-5">-->
					{% if not object.paid %}
						<button class="btn btn-primary mr-1 pay" id="pay-{{ user.pk }}-{{ object.pk }}">Mark as Paid</button>
					{% endif %}
						<a href="{% url 'auctions:send_message' user_pk=user.pk listing_pk=object.pk %}">
							<button class="btn btn-secondary contact-seller" id="contact-{{ user.pk }}-{{ object.pk }}">Contact seller</button>
						</a>
					<!--</div>-->
					{% if object in user.watchlist.all %}
						<button class="btn btn-warning unwatch mt-5" id="unwatch-{{ object.id }}">Remove from watchlist</button>
					{% else %}
						<button class="btn btn-primary watch mt-5" id="watch-{{ object.id }}">Add to watchlist</button>
					{% endif %}
				{% endif %}
			</div>
			<div class="row justify-content-start mt-2">
				<a href="#comments"><button class="btn btn-secondary comment" id="comment-{{ object.pk }}">See/Leave comment(s)</button></a>
			</div>
			{% endif %}
		</div>
    </div>
    <div class="row mt-5">
		<h5>Product's state: {% if object.state == 0 %}used{% else %}new{% endif %}</h5>
    </div>
    <div class="container mt-5">
		<h5>Description: </h5>
		<p>{{ object.description }}</p>
    </div>
    <div class="container mt-5">
		<h5>Payment policy: </h5>
		{% if object.payment_policy|length < 120 %}
		<p>{{ object.payment_policy }}</p>
		{% else %}
		<span class="payment-policy-short">{{ object.payment_policy|truncatechars:"120" }}</span>
		<span class="payment-policy-full" style="display:none">{{ object.payment_policy}}</span>
		<span class="text-toggle" id="payment-policy">More</span>
		{% endif %}
    </div>
    <div class="container mt-5">
		<h5>Shipment policy: </h5>
		{% if object.shipment_policy|length < 120 %}
		<p>{{ object.shipment_policy }}</p>
		{% else %}
		<span class="shipment-policy-short">{{ object.shipment_policy|truncatechars:"120" }}</span>
		<span class="shipment-policy-full" style="display:none">{{ object.shipment_policy}}</span>
		<span class="text-toggle" id="shipment-policy">More</span>
		{% endif %}
    </div>
    <div class="container mt-5">
		<h5>Return policy: </h5>
		{% if object.return_policy|length < 120 %}
		<p>{{ object.return_policy }}</p>
		{% else %}
		<span class="return-policy-short">{{ object.return_policy|truncatechars:"120" }}</span>
		<span class="return-policy-full" style="display:none">{{ object.return_policy}}</span>
		<span class="text-toggle" id="return-policy">More</span>
		{% endif %}
    </div>
    {% if user.is_authenticated and object.status == "active" %}
    <div class="row mt-5" id="comments">
		{{ comment_form.non_field_errors }}
		<form action="{% url 'auctions:listing' object.pk %}" method="POST" class="flex-grow-1">
			{% csrf_token %}
			{{ comment_form.content.error }}
			<div>{{ comment_form.content }}</div>
			<input type="submit" name="comment" value="Leave comment">
		</form>
    </div>
    {% endif %}
    <div class="col-12 mt-5">
		<h5>Comments:</h5>
        {% for comment in listing.comment_set.all %}
        <div class="row mt-3 border border-bottom-1 border-top-0 border-left-0 border-right-0">
            <div class="flex-grow-1">
                Commented by: {{ comment.author.username }}
            </div>
            <div>
                Commented on: {{ comment.time }}
            </div>
            <div class="ml-5">
                Status: {{ comment.status }}
            </div>
        </div>
        <div class="row border">
            {{ comment.content }}
        </div>
        {% if comment.answer %}
            <div class="row border border-bottom-1">
                <div class="flex-grow-1">
                    Answered by: {{ comment.answer.respondent.username }}
                </div>
                <div>
                    Answered on: {{ comment.answer.time }}
                </div>
            </div>
            <div class="row">
                {{ comment.answer.content }}
            </div>
        {% endif %}
    </div>
    {% empty %}
    <div class="row mt-5">
        <h5>No comments yet. Fill the form above to leave one.</h5>
    </div>
    {% endfor %}
</div>
{% endblock %}
