{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Profile</h2>
    
    <div>
		<div>
			<h4>Credentials:</h4>
			<div>
				<p>Username:</p>
				<p>{{ user.username }}</p>
			</div>
			<div>
				<p>Password:</p>
				<p>*****</p>
				<a href="{% url 'auctions:password_change' %}">Change password</a>
			</div>
		</div>
		<div>
			<h4>Personal information:</h4>
			<div>
				<p>Salutation:</p>
				<p>{{ user.profile.get_title_display }}</p>
			</div>
			<div>
				<p>First name:</p>
				<p>{{ user.profile.first_name }}</p>
			</div>
			<div>
				<p>Last name:</p>
				<p>{{ user.profile.last_name }}</p>
			</div>
			<div>
				<p>E-mail address:</p>
				<p>{{ user.email }}</p>
			</div>
			<div>
				<a href="#">Change email</a>
			</div>
		</div>
		<div>
			<h4>Delivery address:</h4>
			<div>
				<p>{{ user.profile.line1 }}</p>
				{% if user.profile.line2 %}
					<p>{{ user.profile.line2 }}</p>
				{% endif %}
				<p>{{ user.profile.city }} {{ user.profile.zip_code }}</p>
				<p>{{ user.profile.get_country_display }}</p>
			</div>
			<div>
				<a href="#">Change address</a>
			</div>
		</div>
	</div>
	
	{% if user.listings %}
	<div>
		<h3>User's listings</h3>
		<ul>
		{% for listing in user.listings %}
			<li>
				<div>
					<div><img src="{{ listing.product.image_url }}"></div>
					<div>{{ listing.product.name }}</div>
					<div>{{ listing.status }}</div>
				</div>
			</li>
		{% endfor %}
		</ul>
	</div>
	{% endif %}
	
{% endblock %}
