{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Register</h2>

	<div class="auth-form-block">
		<h3>Please enter your username, email address and password to be used 
		at this website</h3>
		{{ user_form.non_field_errors }}
    <form action="{% url 'auctions:register' %}" method="post">
        {% csrf_token %}
        <table>
        {% for field in user_form %}
			<tr>
				<td colspan="3">{{ field.errors }}</td>
			</tr>
			<tr>
				<td>{{ field.label_tag }}</td>
				<td>{{ field }}</td>
				<td><span class="field-help-icon">(i) 
                {% if field.help_text %}
					<p>{{ field.help_text|safe }}</p>
				{% endif %}
                </span></td>
            </tr>
		{% endfor %}
		<!-- profile.management_form -->
		<!-- for contact_form in profile -->
		<tr><td colspan="3" style="border-bottom: 1px solid"></td></tr>
		</table>
		<h3>Please enter your personal information required to buy and sell items 
		at this website.</h3>
		{{ contact_form.non_field_errors }}
		<table>
			{% for field in contact_form %}
				<tr>
					<td colspan="3">{{ field.errors }}</td>
				</tr>
				<tr>
					<td>{{ field.label_tag }}</td>
					<td>{{ field }}</td>
					<td><span class="field-help-icon">(i) 
					{% if field.help_text %}
						<p>{{ field.help_text|safe }}</p>
					{% endif %}
					</span></td>
				</tr>
			{% endfor %}
		<!-- endfor -->
		<tr><td></td>
		<td>
		<input class="btn btn-primary" type="submit" value="Register"></td>
		</td><td></td>
		</tr>
		</table>
		<!--<table>
		{{ profile }}
		</table>
		<input class="btn btn-primary" type="submit" value="Register">-->
    </form>

    Already have an account? <a href="{% url 'auctions:login' %}">Log In here.</a>
	</div>
	
{% endblock %}
