{% load static %}

<style>
    .avatar {
        min-width: 300px;
        min-height: 400px;
        background-image: url("{% static 'network/images/avatar.png' %}");
        border: 2px dashed lightgray;
        border-radius: 10px;
        margin-left: 15px;
    }

    .clickable {
        cursor: pointer;
    }
</style>

<div class="row w-100">
    <div class="col-6 p-2">
        <div class="row w-100 m-2">
            {% if UserDetail.avatar %}
                <img src="{{ UserDetail.avatar }}" alt="Avatar" class="w-100 h-auto" />
            {% else %}
                <div class="avatar clickable"></div>
            {% endif %}
        </div>
        <div class="row">
            <div class="followers col-6" id="followers">
                <p class="text-center font-weight-bold">Followers</p>
                <p class="text-white text-center bg-success rounded-circle w-25 m-auto clickable">{{ UserDetail.followers|length }}</p>
            </div>
            <div class="following col-6" id="following">
                <p class="text-center font-weight-bold">Following</p>
                <p class="text-white text-center bg-primary rounded-circle w-25 m-auto clickable">{{ UserDetail.following|length }}</p>
            </div>
        </div>
    </div>
    <div class="col-6 p-2">
        <textarea class="profile-about w-100 border-0 clickable" 
                rows="20" 
                disabled>{% if UserDetail.about and UserDetail.about|length > 0 or UserDetail != user %}{{ UserDetail.about }}{% elif UserDetail == user %}&#13;&#10;  Click to add some info about yourself{% else %}No about info{% endif %}
        </textarea>
    </div>
</div>