<div class="w-100 mt-3">
{% for u in users %}
    <p class="w-100 m-auto d-flex justify-content-center"><a href="{% url 'profile' pk=u.pk %}" id="{{ u.pk }}" class="m-auto font-weight-bold" title="View profile">{{ u.username }}</a></p>
{% endfor %}

{% if page_obj.paginator.num_pages > 1 %}

<nav aria-label="Navigation in {{ type }}" class="mt-2">
    <ul class="pagination justify-content-center">
        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
            <a class="page-link" href="" {% if page_obj.has_previous %}id="{{ type }}_{{ page_obj.previous_page_number }}"{% endif %}>&lt%lt </a>
        </li>
        <li class="page-item  {% if not page_obj.has_next %}disabled{% endif %}">
            <a class="page-link" href="" {% if page_obj.has_next %}id="{{ type }}_{{ page_obj.next_page_number }}"{% endif %}> &gt&gt</a>
        </li>
    </ul>
</nav>

{% endif %}
</div>