{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Password reset request filed.</h2>
	<p>An email with a password reset link was sent to your email address. 
	Please follow instructions in the email to complete the process.</p>
	{% if request.session.uid %}
		<script>
			var uid = {{ request.session.uid }};
		</script>
		<br><p class="bg-warning">This is a demo version of web-site. That's why
		no actual email was sent to you. The email message was saved to a file 
		instead. Please <span class="btn btn-secondary" id="auth-password-reset-show">click here</span> 
		to see the email message text with the password reset link and proceed 
		with the process.</p>
		<div class="container auth-password-reset-email"></div>
	{% endif %}
{% endblock %}
