{% extends "auctions/layout.html" %}

{% block body %}
<h2>Confirm registration</h2>
<div id="registration_confirmation">
	<h4>Thank you for registering on Auction$ webportal!</h4>
	<p>An email with an account activation link was sent to your email address. 
	Please follow instructions in the email to complete the registration process.</p>
	{% if uid %}
	<script>
		var uid = "{{ uid }}";
	</script>
	<p class="bg-warning">This is a demo version of web-site. That's why
		no actual email was sent to you. The email message was saved to a file 
		instead. Please <span class="btn btn-secondary"  id="show-message">click here</span> 
		to see a content of the email message and follow the activation link to confirm 
		your registration.</p>
	<div id="message-text" class="container"></div>
	{% endif %}
</div>


{% endblock %}
